<ng-template #DetalleEmpleado let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header border-0">
      <h4 class="modal-title border-0" id="myModalLabel1">Detalle Empleado</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-content collapse show">
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item  flex-column align-items-center">

            <div class="d-flex w-100 justify-content-between">
              <h5 class="font-weight-bold">Nombre</h5>
              <h5 class="font-weight-bold">Domicilio</h5>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <p class="clr-txt">{{data.nombre}}</p>
              <p class="clr-txt">{{data.domicilio}}</p>
            </div>

            <div class="d-flex w-100 justify-content-between">
              <h5 class="font-weight-bold">Usuario</h5>
              <h5 class="font-weight-bold">Password<i class="pe-7s-look cursor" (click)="mostrarValoresPassword()"
                  *ngIf="!valorVistaPassword"></i>
                <i class="pe-7s-lock cursor" (click)="mostrarValoresPassword()" *ngIf="valorVistaPassword"></i>
              </h5>
              <h5 class="font-weight-bold">Rol<i class="pe-7s-angle-down-circle cursor" (click)="mostrarValoresRol()"
                  *ngIf="!valorVistaRole"></i>
                <i class="pe-7s-angle-up-circle cursor" (click)="mostrarValoresRol()" *ngIf="valorVistaRole"></i>
              </h5>
            </div>
            <div class="d-flex w-100 justify-content-between">
              <p class="clr-txt">{{data.usuario}}</p>
              <p class="clr-txt">{{password}}</p>
              <p class="clr-txt">{{data.role}}</p>

            </div>

          </div>

          <div class="list-group-item  flex-column align-items-center" *ngIf="valorVistaRole">

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Venta: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.ventapacienteventa==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.ventapacienteventa==2">
                  <label class="custom-control-label" for="customSwitch1">Venta Paciente</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.ventapacienteventarealizada==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.ventapacienteventarealizada==2">
                  <label class="custom-control-label" for="customSwitch1">Venta Paciente Realizadas</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">

                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Producto: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregarproducto==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregarproducto==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editarproducto==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editarproducto==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatusproducto==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatusproducto==2">
                  <label class="custom-control-label" for="customSwitch1">Eliminar</label>
                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Categoria: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregarcategoria==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregarcategoria==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editarcategoria==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editarcategoria==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatuscategoria==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatuscategoria==2">
                  <label class="custom-control-label" for="customSwitch1">Eliminar</label>
                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Empleado: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregarempleado==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregarempleado==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editarempleado==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editarempleado==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatusempleado==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatusempleado==2">
                  <label class="custom-control-label" for="customSwitch1">Eliminar</label>
                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Paciente: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregarpaciente==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregarpaciente==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editarpaciente==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editarpaciente==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>

              <div class="form-group col-3">

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Doctor: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregardoctor==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregardoctor==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editardoctor==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editardoctor==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatusdoctor==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatusdoctor==2">
                  <label class="custom-control-label" for="customSwitch1">Eliminar</label>
                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-4">
                <div class="custom-control custom-switch">
                  <label for="pza">Productos De Almacen Principal: </label>

                </div>

              </div>

              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregaralmacenprincipal==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregaralmacenprincipal==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.ajustaralmacenprincipal==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.ajustaralmacenprincipal==2">
                  <label class="custom-control-label" for="customSwitch1">Ajustar</label>
                </div>

              </div>
              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editaralmacenprincipal==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editaralmacenprincipal==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.reportealmacenprincipal==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.reportealmacenprincipal==2">
                  <label class="custom-control-label" for="customSwitch1">Reporte</label>
                </div>

              </div>
            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Generar Lista: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.crearalmacengenerarlista==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.crearalmacengenerarlista==2">
                  <label class="custom-control-label" for="customSwitch1">Crear Almacen</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.generargenerarlista==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.generargenerarlista==2">
                  <label class="custom-control-label" for="customSwitch1">Generar Lista</label>
                </div>

              </div>

              <div class="form-group col-3">

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Listas Generadas: </label>

                </div>

              </div>

              <div class="form-group col-9">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatuslistagenerada==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatuslistagenerada==2">
                  <label class="custom-control-label" for="customSwitch1">Aceptar/Rechazar</label>
                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Almacen Secundario: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregaralmacen==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregaralmacen==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editaralmacen==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editaralmacen==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatusalmacen==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatusalmacen==2">
                  <label class="custom-control-label" for="customSwitch1">Eliminar</label>
                </div>

              </div>

            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-4">
                <div class="custom-control custom-switch">
                  <label for="pza">Productos De Almacen Secundario: </label>

                </div>

              </div>

              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregaralmacensecundario==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregaralmacensecundario==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.ajustaralmacensecundario==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.ajustaralmacensecundario==2">
                  <label class="custom-control-label" for="customSwitch1">Ajustar</label>
                </div>

              </div>
              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editaralmacensecundario==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editaralmacensecundario==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.reportealmacensecundario==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.reportealmacensecundario==2">
                  <label class="custom-control-label" for="customSwitch1">Reporte</label>
                </div>

              </div>
            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Generar Salida: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.tipogenerarsalida==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.tipogenerarsalida==2">
                  <label class="custom-control-label" for="customSwitch1">Tipo Cirugia</label>
                </div>

              </div>

              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.pacientegenerarsalida==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.pacientegenerarsalida==2">
                  <label class="custom-control-label" for="customSwitch1">Paciente</label>
                </div>

              </div>
              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.doctorgenerarsalida==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.doctorgenerarsalida==2">
                  <label class="custom-control-label" for="customSwitch1">Doctor</label>
                </div>

              </div>
              <div class="form-group col-2">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.cancelarsalida==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.cancelarsalida==2">
                  <label class="custom-control-label" for="customSwitch1">Cancelar Salida</label>
                </div>

              </div>
            </div>

            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Tipo Cirugia: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregartipocirugia==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregartipocirugia==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editartipocirugia==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editartipocirugia==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.estatustipocirugia==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.estatustipocirugia==2">
                  <label class="custom-control-label" for="customSwitch1">Eliminar</label>
                </div>

              </div>

            </div>
            
            <div class="d-flex w-100 justify-content-between">
              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <label for="pza">Role: </label>

                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.agregarrole==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.agregarrole==2">
                  <label class="custom-control-label" for="customSwitch1">Agregar</label>
                </div>

              </div>

              <div class="form-group col-3">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled
                    *ngIf="selectedRole.editarrole==1">
                  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled
                    *ngIf="selectedRole.editarrole==2">
                  <label class="custom-control-label" for="customSwitch1">Editar</label>
                </div>

              </div>

              <div class="form-group col-3">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>