<ng-template #DetalleVentaAlamcenSecundario let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header border-0">
            <h4 class="modal-title border-0" id="myModalLabel1">Detalle Venta</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item  flex-column">

                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="font-weight-bold">Paciente</h5>
                            <h5 class="font-weight-bold">Telefono</h5>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="clr-txt">{{data.paciente}}</p>
                            <p class="clr-txt">{{data.telefono}}</p>

                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="font-weight-bold">Doctor</h5>
                            <h5 class="font-weight-bold">Enfermero/a</h5>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="clr-txt">{{data.doctor}}</p>
                            <p class="clr-txt">{{data.enfermera}}</p>

                        </div>


                    </div>

                    <div class="list-group-item  flex-column align-items-center">

                        <div class="table-responsive card-body" style="overflow-y: scroll; height:350px;">
                            <table class="table table-striped">
                    
                              <thead class="thead-dark">
                                <tr>
                                  <th class="col-5 text-left">PRODUCTO</th>
                                  <th class="col-2 text-center">CANTIDAD</th>
                                  <th class="col-2 text-center">PRECIO</th>
                                  <th class="col-2 text-center">IMPORTE</th>

                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let row of data.listaAlmacen">
                                  <td class="col-5 text-left">{{row.producto}}</td>
                                  <td class="col-2 text-center">{{row.cantidad | number: '1.2-2'}}</td>
                                  <td class="col-2 text-center" *ngIf="!data.precioPublicoSeleccion">{{row.precioCliente | number: '1.2-2'}}</td>
                                  <td class="col-2 text-center" *ngIf="!data.precioPublicoSeleccion">{{row.importeCliente | number: '1.2-2'}}</td>
                                  <td class="col-2 text-center" *ngIf="data.precioPublicoSeleccion">{{row.precioPublico | number: '1.2-2'}}</td>
                                  <td class="col-2 text-center" *ngIf="data.precioPublicoSeleccion">{{row.importePublico | number: '1.2-2'}}</td>
                                </tr>
                    
                              </tbody>
                            </table>
                          </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>