<ng-template #ModalEliminarAlmacenSecundario>

    <div class="modal-sm">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
      </div>
  
      <div class="modal-body" style="text-align: center;">
            
        <div class="col-12" style="text-align: center;" *ngIf="data.alta=='1'">
          <img src="./assets/fonts/eliminar.png" alt="" height="60" width="60">
        </div>

        <div class="col-12" style="text-align: center;" *ngIf="data.alta=='2'">
          <img src="./assets/fonts/aceptar.png" alt="" height="60" width="60">
        </div>

      </div>
  
      <div class="modal-footer">

        <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-dark" (click)="eliminarAlmacenSecundario()">Aceptar</button>
              
      </div>
  
    </div>
  </ng-template>