<div class="app-content content mt-3">

  <div class="content-wrapper">
    <div class="content-body">

      <div class="row">

        <div class="col-10 offset-1">

          <div class="card">

            <div class="card-header">
              <h4 class="card-title">Corte de Caja</h4>
            </div>

            <div class="card-block">

              <div class="card-body">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">

                    <div class="card border-success mb-3">
                      <div class="card-header text-center font-weight-bold">Importe Inicial</div>
                      <div class="card-body text-success text-center">
                        <h2 class="card-title">$ {{detalleCorte.importeinicial | number : '1.2-2'}}</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col">

                    <div class="card border-success mb-3">
                      <div class="card-header text-center font-weight-bold">Ventas Efectivo <a
                          (click)="informacionVentas('efectivo')"><i class="pe-7s-info cursor"></i></a></div>
                      <div class="card-body text-success text-center">
                        <h2 class="card-title">$ {{detalleCorte.ventaefectivo | number : '1.2-2'}}</h2>
                      </div>
                    </div>
                  </div>
                  <div class="col">

                    <div class="card border-success mb-3">
                      <div class="card-header text-center font-weight-bold">Entradas <a
                          (click)="informacionMovimientos('entrada')"><i class="pe-7s-info cursor"></i></a></div>
                      <div class="card-body text-success text-center">
                        <h2 class="card-title">$ {{detalleCorte.entrada | number : '1.2-2'}}</h2>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">

                  <div class="col">

                    <div class="card border-danger mb-3">
                      <div class="card-header text-center font-weight-bold">Devoluciones <a
                          (click)="informacionDevolucion()"><i class="pe-7s-info cursor"></i></a></div>
                      <div class="card-body text-danger text-center">
                        <h2 class="card-title">$ {{detalleCorte.devolucion | number : '1.2-2'}}</h2>
                      </div>
                    </div>

                  </div>

                  <div class="col">

                    <div class="card border-warning mb-3">
                      <div class="card-header text-center font-weight-bold">Ventas con Tarjeta Y Trasferencias<a
                          (click)="informacionVentas('tarjeta')"><i class="pe-7s-info cursor"></i></a></div>
                      <div class="card-body text-warning text-center">
                        <h2 class="card-title">$ {{detalleCorte.ventatarjeta | number : '1.2-2'}}</h2>
                      </div>
                    </div>

                  </div>

                  <div class="col">

                    <div class="card border-danger mb-3">
                      <div class="card-header text-center font-weight-bold">Salidas <a
                          (click)="informacionMovimientos('salida')"><i class="pe-7s-info cursor"></i></a></div>
                      <div class="card-body text-danger text-center">
                        <h2 class="card-title">$ {{detalleCorte.salida | number : '1.2-2'}}</h2>
                      </div>
                    </div>

                  </div>

                </div>

                <div class="row">
                  <div class="col-12" style="text-align: right;">
                    <h2 class="font-weight-bold">Corte Esperado</h2>
                    <h3 class="clr-txt">$ {{detalleCorte.corteesperado | number : '1.2-2'}}</h3>
                    <button type="button" class="btn btn-dark text-center" (click)="abrirModalGenerarCorte()">Realizar Corte</button>
                  </div>                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODALES DE VENTA-->

<ng-template #InformacionDevolucion let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header border-0">
      <h4 class="modal-title border-0" id="myModalLabel1">{{titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-content collapse show">
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item flex-column align-items-center">

            <div class="d-flex w-100 justify-content-between">

              <div class="table-responsive" style="overflow-y: scroll; height:350px;">
                <table class="table table-striped">

                  <thead class="thead-dark">
                    <tr>
                      <th class="col-2 text-center">FOLIO VENTA</th>
                      <th class="col-4 text-center">PRODUCTO</th>
                      <th class="col-1 text-center">DEVOLUCION</th>
                      <th class="col-2 text-center">IMPORTE</th>
                      <th class="col-2 text-center">FECHA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of informacionCorte">
                      <td class="col-2 text-center">{{row.folio}}</td>
                      <td class="col-4 text-center">{{row.producto}}</td>
                      <td class="col-1 text-center">$ {{row.devolucion | number : '1.2-2'}}</td>
                      <td class="col-2 text-center">$ {{row.importeDevolucion | number : '1.2-2'}}</td>
                      <td class="col-2 text-center">{{row.fechaDevolucion}}</td>

                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #InformacionVenta let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header border-0">
      <h4 class="modal-title border-0" id="myModalLabel1">{{titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-content collapse show">
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item flex-column align-items-center">

            <div class="d-flex w-100 justify-content-between">

              <div class="table-responsive" style="overflow-y: scroll; height:350px;">
                <table class="table table-striped">

                  <thead class="thead-dark">
                    <tr>
                      <th class="col-3 text-center">FOLIO</th>
                      <th class="col-1 text-center">TIPO COBRO</th>
                      <th class="col-2 text-center">IMPORTE</th>
                      <th class="col-2 text-center">FECHA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of informacionCorte">
                      <td class="col-3 text-center">{{row.folio}}</td>
                      <td class="col-1 text-center">{{row.tipoCobro}}</td>
                      <td class="col-2 text-center">$ {{row.importe | number : '1.2-2'}}</td>
                      <td class="col-2 text-center">{{row.fechaEgreso}}</td>

                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #InformacionMovimiento let-c="close" let-d="dismiss">
  <div>
    <div class="modal-header border-0">
      <h4 class="modal-title border-0" id="myModalLabel1">{{titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-content collapse show">
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item flex-column align-items-center">

            <div class="d-flex w-100 justify-content-between">

              <div class="table-responsive" style="overflow-y: scroll; height:350px;">
                <table class="table table-striped">

                  <thead class="thead-dark">
                    <tr>
                      <th class="col-1 text-center">CANTIDAD</th>
                      <th class="col-7 text-center">MOTIVO</th>
                      <th class="col-2 text-center">FECHA</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of informacionCorte">
                      <td class="col-1 text-center">$ {{row.cantidad | number : '1.2-2'}}</td>
                      <td class="col-7 text-center">{{row.motivo}}</td>
                      <td class="col-2 text-center">{{row.fechaCreacion}}</td>

                    </tr>

                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #GenerarCorte let-c="close" let-d="dismiss">

  <div class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title border-0" id="myModalLabel1">Generar Corte de Caja</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="text-align: center;">
          
      <form [formGroup]="frmCorte" class="form">

        <div class="input-group mt-2" style="text-align: center;justify-content: center;">

          <div class="form-group col-8">
            <label for="cantidad">Cantidad en Caja</label>
            <div class="input-group">
              <input type="number" class="form-control border border-dark" style="text-align: center;" formControlName="cantidad" [ngClass]="{ 'is-invalid': fDataCorte.cantidad.value==null }">                
            </div>
          </div>          

        </div>

        <div class="input-group mt-2" style="text-align: center;justify-content: center;" >

          <div class="form-group col-8">
            <label for="comentario">Comentario</label>
            <div class="input-group">
              <textarea type="text" class="form-control border border-dark" style="text-align: center;" formControlName="comentario"></textarea>
            </div>
          </div>            

        </div>

      </form>

    </div>

    <div class="modal-footer">

      <button type="button" class="btn grey btn-danger mr-2" (click)="d('Cross click')">Cancelar</button>
      <button type="button" class="btn btn-dark" (click)="finalizarCorte()">Finalizar</button>
            
    </div>

  </div>
</ng-template>