<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-light btn-sm mr-2" *ngIf="idAlmacen==0 && this.permisos.crearalmacengenerarlista=='1'" (click)="mostrarListaAlmacen()">
                                        <img src="./assets/fonts/agregar-lista.png" title="Nueva lista" alt=""
                                            height="30" width="30">
                                    </button>
                                    <button class="btn btn-light btn-sm mr-2" *ngIf="idAlmacen!=0" (click)="cambiarDePropietario()">
                                        <img src="./assets/fonts/cambiar-almacen.png" title="Cambiar de almacen"
                                            alt="" height="30" width="30">
                                    </button>
                                    
                                </div>
                            </div>

                            <div *ngIf="idAlmacen!=0" class="row">
                                <div class="col-md-1">
                                    <input type="number" class="form-control border border-dark" placeholder="Cantidad"
                                        value="1" id="cantidad" min="1" style="width: 100px;">
                                </div>

                                <div class="col-md-7 ml-2">
                                    <input type="text" class="form-control border border-dark" placeholder="Codigo"
                                        value="" id="codigo" (change)="scanearProducto()" autocomplete="off"
                                        (keyenter)="agregarProducto()" [(ngModel)]="codigo">
                                </div>
                                <div class="col-md-3">
                                    <button (click)="modalBuscarProducto()">
                                        <img src="./assets/fonts/binoculares.svg" alt="" height="30" width="30">
                                    </button>
                                </div>
                            </div>


                            <div class="row" *ngIf="idAlmacen!=0">
                                <div class="col-12">

                                        <div class="table-responsive card-body"
                                            style="overflow-y: scroll; height:350px;">
                                            <table class="table table-striped">

                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="col-7 text-left">PRODUCTO</th>
                                                        <th class="col-1 text-center">CANTIDAD</th>
                                                        <th class="col-1"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let row of contenido">
                                                       
                                                        <td class="col-7 text-left">{{row.producto}}</td>
                                                        <td class="col-1 text-center">{{row.cantidad}}</td>
                                                        <td class="text-center col-1">
                                                            <button class="btn btn-danger btn-sm" (click)="modalQuitarProducto(row)" >
                                                                <span class="pe-7s-close-circle"></span>
                                                            </button>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>


                            <div *ngIf="idAlmacen!=0" class="col-md-12" style="text-align: right;">
                                <a class="btn btn-dark" (click)="finalizarLista()">
                                    Finalizar
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->

<app-modal-nueva-lista (actualizar)="obtenerUltimaListaAlmacen()"></app-modal-nueva-lista>
<app-cambiar-propietario (actualizar)="obtenerUltimaListaAlmacen()" [data]="envioModal"></app-cambiar-propietario>
<app-buscar-producto (producto)="respuestaBusqueda($event)"></app-buscar-producto>
<app-quitar-producto (actualizar)="obtenerUltimaListaAlmacen()" [data]="envioModal"></app-quitar-producto>

