<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Cortes de Caja Generadas</h4>
                    </div>

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">

                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark"
                                            [(ngModel)]="fechaInicial" (change)="cambiarFecha()">
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark"
                                            [(ngModel)]="fechaFinal" (change)="cambiarFecha()">
                                    </div>
                                </div>

                                <div class="card-body table-responsive">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="ENCARGADO" prop="encargado" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="IMPORTE ESPERADO" prop="corteesperado"
                                            [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center">$ {{value | number : '1.2-2' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="IMPORTE RECIBIDO" prop="corterecibido"
                                            [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div *ngIf="row.corterecibido<row.corteesperado" class="text-danger">$
                                                    {{value | number : '1.2-2'}}</div>
                                                <div *ngIf="row.corterecibido>=row.corteesperado">$ {{value | number :
                                                    '1.2-2'}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="FECHA CORTE" prop="fechacorte" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value}}</div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

                                                <div class="text-center">
                                                    <button class="btn btn-warning btn-sm mr-2"
                                                        (click)="openModalDetalleCorte(row)">
                                                        <span class="pe-7s-info"></span>
                                                    </button>

                                                    <button class="btn btn-primary btn-sm mr-2"
                                                        (click)="imprimirTicket(row)">
                                                        <span class="pe-7s-print"></span>
                                                    </button>

                                                </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #DetalleCorte let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header border-0">
            <h4 class="modal-title border-0" id="myModalLabel1">Detalle Corte</h4>

            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="flex-column align-items-center">
                    <h5 class="text-center font-weight-bold">
                        {{detalleCorte.fechacreacion}} - {{detalleCorte.fechacorte}}
                    </h5>
                </div>
                <div class="flex-column align-items-center">
                    <h5 class="text-center font-weight-bold">
                        {{detalleCorte.encargado}}
                    </h5>
                </div>

                <div class="d-flex w-100 justify-content-between">
                    <h2 class="font-weight-bold">Ganancia</h2>
                    <h2 class="font-weight-bold">Corte Esperado</h2>
                </div>
                <div class="d-flex w-100 justify-content-between">
                    <h3 class="clr-txt">$ {{detalleCorte.ganancia | number : '1.2-2'}}</h3>
                    <h3 class="clr-txt">$ {{detalleCorte.corteesperado | number : '1.2-2'}}</h3>

                </div>

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">

                        <div class="card border-success mb-3">
                            <div class="card-header text-center font-weight-bold">Importe Inicial</div>
                            <div class="card-body text-success text-center">
                                <h2 class="card-title">$ {{detalleCorte.importeinicial | number : '1.2-2'}}</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col">

                        <div class="card border-success mb-3">
                            <div class="card-header text-center font-weight-bold">Ventas Efectivo</div>
                            <div class="card-body text-success text-center">
                                <h2 class="card-title">$ {{detalleCorte.ventaefectivo | number : '1.2-2'}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col">

                        <div class="card border-warning mb-3">
                            <div class="card-header text-center font-weight-bold">Ventas con Tarjeta  Y Trasferencias</div>
                            <div class="card-body text-warning text-center">
                                <h2 class="card-title">$ {{detalleCorte.ventatarjeta | number : '1.2-2'}}</h2>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row row-cols-1 row-cols-md-12">

                    <div class="col">

                        <div class="card border-success">
                            <div class="text-center font-weight-bold">Entradas</div>
                            <div class="text-success text-center">
                                <h3>$ {{detalleCorte.entrada | number : '1.2-2'}}</h3>
                            </div>

                            <div class="table-responsive" style="overflow-y: auto;min-width:50px ;" *ngIf="detalleCorte.listaEntradas.length>0">

                                <table class="table table-striped">

                                    <thead class="thead-dark">
                                      <tr>
                                        <th class="col-1 text-center">CANTIDAD</th>
                                        <th class="col-7 text-center">MOTIVO</th>
                                        <th class="col-2 text-center">FECHA</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let row of detalleCorte.listaEntradas">
                                        <td class="col-1 text-center">$ {{row.cantidad | number : '1.2-2'}}</td>
                                        <td class="col-7 text-center">{{row.motivo}}</td>
                                        <td class="col-2 text-center">{{row.fechaCreacion}}</td>
                  
                                      </tr>
                  
                                    </tbody>
                                  </table>

                            </div>

                        </div>
                    </div>

                </div>


                <div class="row row-cols-1 row-cols-md-12">

                    <div class="col">

                        <div class="card border-danger">
                            <div class="text-center font-weight-bold">Devoluciones </div>
                            <div class="text-danger text-center">
                                <h3 class="card-title">$ {{detalleCorte.devolucion | number : '1.2-2'}}</h3>
                            </div>

                            <div class="table-responsive" style="overflow-y: auto;min-width:50px ;" *ngIf="detalleCorte.listaDevoluciones.length>0">

                                <table class="table table-striped">

                                    <thead class="thead-dark">
                                      <tr>
                                        <th class="col-2 text-center">FOLIO VENTA</th>
                                        <th class="col-4 text-center">PRODUCTO</th>
                                        <th class="col-1 text-center">DEVOLUCION</th>
                                        <th class="col-2 text-center">IMPORTE</th>
                                        <th class="col-2 text-center">FECHA</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let row of detalleCorte.listaDevoluciones">
                                        <td class="col-2 text-center">{{row.folio}}</td>
                                        <td class="col-4 text-center">{{row.producto}}</td>
                                        <td class="col-1 text-center">{{row.devolucion | number : '1.2-2'}}</td>
                                        <td class="col-2 text-center">$ {{row.importeDevolucion | number : '1.2-2'}}</td>
                                        <td class="col-2 text-center">{{row.fechaDevolucion}}</td>
                  
                                      </tr>
                  
                                    </tbody>
                                  </table>

                            </div>

                        </div>

                    </div>

                </div>
                
                <div class="row row-cols-1 row-cols-md-12">

                    <div class="col">

                        <div class="card border-danger">
                            <div class="text-center font-weight-bold">Salidas</div>
                            <div class="text-danger text-center">
                                <h2 class="card-title">$ {{detalleCorte.salida | number : '1.2-2'}}</h2>
                            </div>

                            <div class="table-responsive" style="overflow-y: auto;min-width:50px ;" *ngIf="detalleCorte.listaSalidas.length>0">

                                <table class="table table-striped">

                                    <thead class="thead-dark">
                                      <tr>
                                        <th class="col-1 text-center">CANTIDAD</th>
                                        <th class="col-7 text-center">MOTIVO</th>
                                        <th class="col-2 text-center">FECHA</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let row of detalleCorte.listaSalidas">
                                        <td class="col-1 text-center">$ {{row.cantidad | number : '1.2-2'}}</td>
                                        <td class="col-7 text-center">{{row.motivo}}</td>
                                        <td class="col-2 text-center">{{row.fechaCreacion}}</td>
                  
                                      </tr>
                  
                                    </tbody>
                                  </table>

                            </div>                            
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
</ng-template>