<ng-template #ModalDetalleLista>

  <div class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <div class="modal-body" style="text-align: center;">

      <div class="table-responsive card-body" style="overflow-y: scroll; height:350px;">
        <table class="table table-striped">

          <thead class="thead-dark">
            <tr>
              <th class="col-8 text-left">PRODUCTO</th>
              <th class="col-1 text-center">CANTIDAD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of contenido">
              <td class="col-8 text-left">{{row.producto}}</td>
              <td class="col-1 text-center">{{row.cantidad}}</td>

            </tr>

          </tbody>
        </table>
      </div>

    </div>

  </div>
</ng-template>