<ng-template #ModalBuscarProducto>

    <div class="modal-lg">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body" style="text-align: center;">
    
        <form [formGroup]="frmProd" class="form">
  
          <div class="form-body">
            
            <div class="form-group row mx-auto">
              <label class="col-md-12 label-control">Producto </label>
              <div class="col-md-3">
                <input type="number" class="form-control border border-dark" value="1" formControlName="cantidad" min="1">
              </div>
              <div class="col-md-9">
                <ng-select [items]="contenido" class="border border-dark" bindLabel="producto"
                  bindValue="codigo" [searchable]="true" formControlName="producto">
                </ng-select>
              </div>
              
            </div>
  
          </div>
  
        </form>
        <div class="col-12" style="text-align: center;">
          <button type="button" class="btn btn-black" (click)="elegirProducto()">Agregar</button>
        </div>
        
  
      </div>
  
      <div class="modal-footer">
  
      </div>
  
    </div>
  </ng-template>