<ng-template class="modal text-left" #ModalGenerarCobro let-d="dismiss">
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel21">Finalizar Venta</h6>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- Basic form layout section start -->
      <form [formGroup]="pagoinfo">
        <div class="form-body row">
          <div class="form-group col-md-6 text-center">
            <h3 for="importe">Importe</h3>
            <h2 for="totalimporte">{{data.importe | currency:'$ ':'symbol':'1.2-2'}}</h2>
          </div> 
          
          <div class="form-group col-md-6 text-center">
            <h3 for="cambio"
            [ngClass]="cambio<0 ? 'text-danger': 'text-success'"
            >Cambio</h3>
            <h2 for="totaCambio" 
            [ngClass]="cambio<0 ? 'text-danger': 'text-success'"
            >{{cambio | currency:'$ ':'symbol':'1.2-2'}}</h2>
          </div> 

        </div>

        <div class="form-body row">
          <div class="form-group col-md-6">
            <label for="tipoPago">Tipo pago</label>
            <select id="tipoPago" class="form-control" formControlName="tipoPago" (change)="cambioTipoPago()">
              <option value="EF">Efectivo</option>
              <option value="TD">Tarjeta debito/Credito</option>
              <option value="TF">Transferencia</option>
            </select>
          </div>

          <div class="form-group col-md-6" *ngIf="pagoinfo.get('tipoPago').value=='TD' || pagoinfo.get('tipoPago').value=='TF'">
            <label for="banco">Banco</label>
            <select id="banco" class="form-control" formControlName="banco">
              <option value="BBVA México">BBVA México</option>
              <option value="Santander">Santander</option>
              <option value="Banamex">Banamex</option>
              <option value="Banorte">Banorte</option>
              <option value="HSBC">HSBC</option>
              <option value="Scotiabank">Scotiabank</option>
              <option value="Inbursa">Inbursa</option>
              <option value="Banco del Bajío">Banco del Bajío</option>
              <option value="Banco Azteca">Banco Azteca</option>
              <option value="BanCoppel">BanCoppel</option>
              <option value="Otro">Otro</option>
            </select>
          </div>
          
          <div class="form-group col-md-6" *ngIf="(pagoinfo.get('tipoPago').value=='TD' || pagoinfo.get('tipoPago').value=='TF') && pagoinfo.get('banco').value=='Otro'">
            <label for="otroBanco">Nombre de Banco</label>
            <input type="text" id="otroBanco" class="form-control" formControlName="otroBanco" placeholder="Nombre de banco"/>
          </div>

          <div class="form-group col-md-6" *ngIf="pagoinfo.get('tipoPago').value=='TD'">
            <label for="referencia">referencia</label>
            <input type="text" id="referencia" class="form-control" formControlName="referencia" placeholder="XXXX XXXX XXXX XXXX"/>
          </div>

          <div class="form-group col-md-6" *ngIf="pagoinfo.get('tipoPago').value=='TF'">
            <label for="referencia">Folio</label>
            <input type="text" id="referencia" class="form-control" formControlName="referencia" placeholder="1234532456"/>
          </div>

          <div class="form-group col-md-6" *ngIf="pagoinfo.get('tipoPago').value=='TD'  || pagoinfo.get('tipoPago').value=='TF'">
            <label for="correo">Recibido</label>
            <input type="text" id="recibido" class="form-control" formControlName="recibido" placeholder="recibido" disabled/>
          </div>
          <div class="form-group col-md-6" *ngIf="pagoinfo.get('tipoPago').value!='TD'  && pagoinfo.get('tipoPago').value!='TF'">
            <label for="correo">Recibido</label>
            <input type="number" id="recibido" class="form-control" formControlName="recibido" placeholder="recibido" (keyup)="obtenerCambio()"/>
          </div>

        </div>

      </form>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn grey btn-danger mr-2" (click)="d('Close modal')">Cancelar</button>
      <button type="button" 
      [ngClass]="(cambio<0 || (pagoinfo.get('tipoPago').value!='EF' && 
      pagoinfo.get('referencia').value=='' || (pagoinfo.get('banco').value=='Otro' && pagoinfo.get('otroBanco').value=='') ) ) ? 'btn btn-dark text-dark': 'btn btn-dark'" 
      [disabled]="cambio<0 || (pagoinfo.get('tipoPago').value!='EF' && 
      pagoinfo.get('referencia').value=='' || (pagoinfo.get('banco').value=='Otro' && pagoinfo.get('otroBanco').value=='') ) " (click)="finalizarVenta()">Finalizar</button>
    </div>
  </div>
</ng-template>