<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Ventas Generadas</h4>
                    </div>

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">

                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaInicial" (change)="cambiarFecha()">
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaFinal"(change)="cambiarFecha()">
                                    </div>
                                </div>  

                                    <div class="card-body table-responsive">
                                        <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                            [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                            [rowHeight]="'auto'" fxFlex="auto">
    
                                            <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                                [draggable]="false" name="FOLIO" prop="folio" [width]="'auto'"
                                                [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div>{{value}}</div>
                                                </ng-template>
                                            </ngx-datatable-column>
    
                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="IMPORTE" prop="importe" [width]="'auto'"
                                                [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div class="text-center">{{value | number : '1.2-2' }}</div>
                                                </ng-template>
                                            </ngx-datatable-column> 

                                            <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                                [draggable]="false" name="TIPO PAGO" prop="tipoPago" [width]="'auto'"
                                                [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div>{{value}}</div>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                                [draggable]="false" name="USUARIO" prop="usuario" [width]="'auto'"
                                                [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div>{{value}}</div>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="FECHA" prop="fecha" [width]="'auto'"
                                                [flexGrow]="2">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div class="text-center">{{ value }}</div>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
    
                                                    <div class="text-center">
                                                        <button class="btn btn-warning btn-sm mr-2"
                                                            (click)="abrirModalDetalleVenta(row)">
                                                            <span class="pe-7s-info"></span>
                                                        </button>

                                                        <button class="btn btn-primary btn-sm mr-2"
                                                            (click)="imprimirTicket(row)">
                                                            <span class="pe-7s-print"></span>
                                                        </button>
                                                    </div>
    
                                                </ng-template>
                                            </ngx-datatable-column>
    
                                        </ngx-datatable>
    
                                    </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->


<ng-template #DetalleVenta let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Detalle Venta</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-center">
              
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="font-weight-bold">Folio</h5>
                    <h5 class="font-weight-bold flex-column align-items-center">Importe</h5>
                    <h5 class="font-weight-bold">Venta Estatus</h5>
                </div>
                  <div class="d-flex w-100 justify-content-between">
                    <p class="clr-txt">{{detalleVenta.folio}}</p>
                    <p class="clr-txt flex-column align-items-center">{{detalleVenta.importe}}</p>
                    <p class="clr-txt text-danger" *ngIf="detalleVenta.cancelado==1 && detalleVenta.cobrado==0">CANCELADO</p>
                    <p class="clr-txt text-success" *ngIf="detalleVenta.cancelado==0 && detalleVenta.cobrado==1">PAGADO</p>
                    <p class="clr-txt text-warning" *ngIf="detalleVenta.cancelado==0 && detalleVenta.cobrado==0">PROCESO</p>
                </div>
                
                <div class="d-flex w-100 justify-content-between">

                  <div class="table-responsive" style="overflow-y: scroll; height:350px;">
                    <table class="table table-striped">
            
                      <thead class="thead-dark">
                        <tr>
                          <th class="col-2 text-left">CODIGO</th>
                          <th class="col-4 text-center">PRODUCTO</th>
                          <th class="col-1 text-center">CANTIDAD</th>
                          <th class="col-1 text-center">PRECIO</th>
                          <th class="col-1 text-center">IMPORTE</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of detalleVenta.productos">
                          <td class="col-2 text-left">{{row.codigo}}</td>
                          <td class="col-4 text-center">{{row.producto}}</td>
                          <td class="col-1 text-center">{{row.cantidad}}</td>
                          <td class="col-1 text-center">{{row.precio}}</td>
                          <td class="col-1 text-center">{{row.importe}}</td>

                        </tr>
            
                      </tbody>
                    </table>
                  </div>

              </div>

             </div>
           </div>
         </div>
       </div>

    </div>
  </ng-template>