<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="content all-icons">
                            <div class="row">

                                    
                                    <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-6" *ngIf="ventas">
                                        <div class="font-icon-detail"><i class="pe-7s-cart"></i>
                                            <br>
                                            <a>VENTA</a>

                                        </div>
                                    </div>
                                    <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-6" *ngIf="productos">
                                        <div class="font-icon-detail"><i class="pe-7s-ticket"></i>
                                            <br>
                                            <a>PRODUCTO</a>

                                        </div>
                                    </div>
                                    <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-6" *ngIf="usuario">
                                        <div class="font-icon-detail"><i class="pe-7s-users"></i>
                                            <br>
                                            <a>USUARIO</a>

                                        </div>
                                    </div>
                                    <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-6" *ngIf="almacenPrincipal">
                                        <div class="font-icon-detail"><i class="pe-7s-box2"></i>
                                            <br>
                                            <a>ALMACEN PRINCIPAL</a>                                            
                                        </div>
                                    </div>                                    
                                    <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-6" *ngIf="almacenSecundario">
                                        <div class="font-icon-detail"><i class="pe-7s-box1"></i>
                                            <br>
                                            <a>ALMACEN SECUNDARIO</a>                                            
                                        </div>
                                    </div>                                    
                                    <div class="font-icon-list col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xs-6" *ngIf="configuracion">
                                        <div class="font-icon-detail"><i class="pe-7s-config"></i>
                                            <br>
                                            <a>CONFIGURACION</a>                                            
                                        </div>
                                    </div>                                    

                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
