<ng-template #ModalAjustarProducto let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header border-0">
            <h4 class="modal-title border-0" id="myModalLabel1">Ajustar Cantidad Producto</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item  flex-column align-items-center">
                        <form style="text-align: center;">

                            <div class="d-flex w-100 justify-content-between">
                                <div class="col-6">

                                    <label for="codigo" *ngIf="buscarNombre">Producto <i class="pe-7s-repeat cursor" (click)="cambiarNombre()"></i> </label>
                                    <ng-select *ngIf="buscarNombre" [items]="contenido" class="border border-dark" bindLabel="producto"
                                    bindValue="codigo" [searchable]="true" id="codigo" name="codigo"  [(ngModel)]="codigo" (change)="scanearProducto()">
                                  </ng-select>

                                    <label for="codigo" *ngIf="!buscarNombre">Codigo <i class="pe-7s-repeat cursor" (click)="cambiarNombre()"></i></label>
                                    <input *ngIf="!buscarNombre" type="text" class="form-control border border-dark" placeholder="Codigo"
                                        value="" id="codigo" name="codigo" (change)="scanearProducto()" autocomplete="off"
                                        (keyenter)="agregarProducto()" [(ngModel)]="codigo">
                                        <div class="row ml-3" *ngIf="obtenido">
                                            <p class="font-weight-bold">CODIGO: {{codigo}}</p>
                                          
                                        </div>
                                        <div class="row ml-3" *ngIf="obtenido">
                                            <p class="font-weight-bold">PRODUCTO: {{producto}}</p>
                                          
                                        </div>
                                        <div class="row ml-3" *ngIf="obtenido">
                                            <p class="font-weight-bold">EXISTENTE: {{existente}}</p>
                                          
                                        </div>
                                        
                                        

                                </div>


                                <div class="col-6" *ngIf="obtenido">
                                    <label for="cantidad">Cantidad</label>
                                    <div class="input-group">
                                        <input type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad" class="form-control border border-dark"
                                            placeholder="Agregar cantidad" min="0"/>

                                    </div>

                                    <button type="button" class="btn btn-dark" (click)="ajustarCantidadProducto()">Agregar</button>


                                </div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</ng-template>