<ng-template #DetalleProducto let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Detalle Producto</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item  flex-column align-items-center">
              
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="font-weight-bold">Codigo</h5>
                    <h5 class="font-weight-bold">Producto</h5>
                </div>
                  <div class="d-flex w-100 justify-content-between">
                    <p class="clr-txt">{{detalleProducto.codigo}}</p>
                    <p class="clr-txt">{{detalleProducto.producto}}</p>
                </div>

                <div class="d-flex w-100 justify-content-between">
                    <h5 class="font-weight-bold">Precio proveedor</h5>
                    <h5 class="font-weight-bold">Precio cliente</h5>
                    <h5 class="font-weight-bold">Precio publico</h5>
                </div>
                  <div class="d-flex w-100 justify-content-between">
                    <p class="clr-txt">$ {{detalleProducto.precioproveedor}}</p>
                    <p class="clr-txt">$ {{detalleProducto.preciocliente}}</p>
                    <p class="clr-txt">$ {{detalleProducto.preciopublico}}</p>
                </div>                  
                
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="font-weight-bold">Categoria</h5>
                    <h5 class="font-weight-bold">Lote</h5>
                    <h5 class="font-weight-bold">Caducidad</h5>
                    <h5 class="font-weight-bold">Administración</h5>

                </div>
                  <div class="d-flex w-100 justify-content-between">
                    <p class="clr-txt">{{detalleProducto.categoria}}</p>
                    <p class="clr-txt">{{detalleProducto.lote}}</p>
                    <p class="clr-txt">{{detalleProducto.caducidad  | date:'yyyy-MM-dd'}}</p>
                    <p class="clr-txt">{{detalleProducto.tipoadministracion}}</p>

                </div>
                
                <div class="d-flex w-100 justify-content-between" *ngIf="detalleProducto.pieza==2">

                  <div class="table-responsive card-body" style="overflow-y: scroll; height:350px;">
                    <table class="table table-striped">
            
                      <thead class="thead-dark">
                        <tr>
                          <th class="col-8 text-left">PRODUCTO</th>
                          <th class="col-1 text-center">CANTIDAD</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of detalleProducto.listaProductos">
                          <td class="col-8 text-left">{{row.producto}}</td>
                          <td class="col-1 text-center">{{row.cantidad}}</td>
            
                        </tr>
            
                      </tbody>
                    </table>
                  </div>

              </div>

             </div>
           </div>
         </div>
       </div>

    </div>
  </ng-template>
 