<ng-template #ModalListaAlmacen>

  <div class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body" style="text-align: center;">

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="btn-group btn-toggle" *ngIf="!activo">
            <button class="btn btn-xs btn-default active">ELEGIR</button>
            <button class="btn btn-xs btn-primary " (click)="boton()">CREAR</button>
          </div>
          <div class="btn-group btn-toggle" *ngIf="activo">
            <button class="btn btn-xs btn-default" (click)="boton()">ELEGIR</button>
            <button class="btn btn-xs btn-primary active">CREAR</button>
          </div>
        </div>
      </div>

      <form *ngIf="!activo" [formGroup]="frmAlm" class="form">

        <div class="form-body">
          <div class="form-group row mx-auto">
            <label class="col-md-12 label-control">Almacen </label>
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <ng-select [items]="contenido" class="border border-dark" bindLabel="almacen"
                bindValue="idalmacen" [searchable]="true" formControlName="almacen">
              </ng-select>
            </div>
            <div class="col-md-3"></div>
            
          </div>

        </div>

      </form>
      <div *ngIf="!activo" class="col-12" style="text-align: center;" (click)="guardarListaAlmacen()">
        <button type="button" class="btn btn-black">Finalizar</button>
      </div>
      <div class="form-group row mx-auto" *ngIf="activo">
        <label class="col-md-12 label-control">Almacen </label>
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <input type="text" class="form-control border border-dark" placeholder="Almacen"
            value="" id="agregarAlmacen">
        </div>
        <div class="col-md-3"></div>
      </div>

      <div *ngIf="activo" class="col-12" style="text-align: center;" (click)="guardarAlmacen()">
        <button type="button" class="btn btn-black">Guardar</button>
      </div>

    </div>

    <div class="modal-footer">

    </div>

  </div>
</ng-template>