<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body table-responsive">

                            <div class="row content">
                                <div class="col-3">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaInicial" (change)="cambiarFecha()">
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaFinal"(change)="cambiarFecha()">
                                    </div>
                                </div>                                
                            </div>

                            <div class="row content">
                                <div class="col-12">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="FECHA" prop="fechaCreacion" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center">{{value | date : 'YYYY-MM-dd HH:mm' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="TIPO COBRO" prop="tipoCobro" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div >{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="IMPORTE" prop="importe" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value | number: '1.2-2' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        
                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ACCIÓN" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <button class="btn btn-primary btn-sm" (click)=imprimir(row)>
                                                    <span class="pe-7s-print"></span>
                                                </button> 

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>