<div class="container login-container">
    <div class="row">
        <div class="col-md-3"></div>

        <div class="col-md-6 login-form-2">
            <h3>FARMACIA</h3>
            <div class="logo-container" style="text-align: center;">
                <div class="logo">
                    <img src="./assets/img/usuario.png" height="50" width="50">
                </div>
            </div>
            <form [formGroup]="iniciarSesion">

                <div class="form-group">
                    <input type="text" id="usuario" class="form-control border border-dark" formControlName="usuario"
                        placeholder="Usuario" [ngClass]="{ 'is-invalid': submitted && fData.usuario.errors }" />

                </div>
                <small class="form-text text-muted danger" *ngIf="submitted && fData.usuario.errors">
                    <div *ngIf="fData.usuario.errors.required" class="text-danger">Este campo es requerido</div>
                </small>

                <div class="form-group">
                    <input type="password" id="password" class="form-control border border-dark" formControlName="password"
                        placeholder="password" [ngClass]="{ 'is-invalid': submitted && fData.password.errors }" />

                </div>
                <small class="form-text text-muted danger" *ngIf="submitted && fData.password.errors">
                    <div *ngIf="fData.password.errors.required" class="text-danger">Este campo es requerido</div>
                </small>                

                <div class="form-group" style="text-align: center;">
                    <input type="submit" class="btnSubmit" value="ENTRAR" (click)="iniciar()"/>
                </div>

            </form>
        </div>

        <div class="col-md-3"></div>

    </div>
</div>


<ng-template #NuevoCorte let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Crear nuevo corte</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-center">
              
                <form [formGroup]="frmNuevoCorte" class="form">

                    <div class="input-group mt-2" style="text-align: center;justify-content: center;">

                        <div class="form-group col-8">
                            <label for="cantidadNC">Cantidad en Caja</label>
                            <div class="input-group">
                                <input type="number" class="form-control border border-dark"
                                    style="text-align: center;" formControlName="cantidadNC" />
                            </div>
                            <button class="btn btn-dark" (click)="crearCorte()">
                                Iniciar corte
                            </button>
                        </div>

                    </div>

                </form>               

             </div>
           </div>
         </div>
       </div>

    </div>
  </ng-template>

  <ng-template #ActualizarCorte let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Actualizar y crear mi corte</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item flex-column align-items-center">
              
                <form [formGroup]="frmActualizarCorte" class="form">

                    <div class="input-group mt-2" style="text-align: center;justify-content: center;">

                        <div class="form-group col-8">
                            <label for="cantidadAC">Cantidad en Caja</label>
                            <div class="input-group">
                                <input type="number" class="form-control border border-dark"
                                    style="text-align: center;" formControlName="cantidadAC" />
                            </div>
                            <label for="Comentario">Comentario</label>
                            <div class="input-group">
                                <textarea type="text" class="form-control border border-dark"
                                    style="text-align: center;" formControlName="comentario" ></textarea>
                            </div>                            
                            <button class="btn btn-dark" (click)="actualizarCorte()">
                                Actualizar y crear corte
                            </button>
                        </div>

                    </div>

                </form>               

             </div>
           </div>
         </div>
       </div>

    </div>
  </ng-template>