<ng-template #EditarProducto let-c="close" let-d="dismiss">
  <div>
     <div class="modal-header border-0">
       <h4 class="modal-title border-0" id="myModalLabel1">Editar Producto</h4>
       <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>       
     </div>
     <div class="card-content collapse show">
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item  flex-column align-items-center">
            <form [formGroup]="EditarRegistro" style="text-align: center;">
              
              <div class="d-flex w-100 justify-content-between">
                <div class="form-group col-6">
                  <label for="codigo">Codigo</label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="codigo"
                      class="form-control border border-dark"
                      formControlName="codigo"
                      placeholder="Ingresa codigo"
                      [ngClass]="{ 'is-invalid': submitted && fData.codigo.errors }"
                    />
                    
                  </div>
                  <small class="form-text text-muted danger" *ngIf="submitted && fData.codigo.errors">
                    <div *ngIf="fData.codigo.errors.required" class="text-danger">Este campo es requerido</div>
                  </small>
                  <small class="form-text text-muted danger" *ngIf="errorCodigo!=''">
                    <div class="text-danger">{{errorCodigo}}</div>
                  </small>                    
                </div>
                <div class="form-group col-6">
                  <label for="categoria">Categoria</label>
                  <div [ngClass]="{ 'is-invalid': submitted && fData.categoria.errors }">
      
                   <ng-select [items]="categorias" bindLabel="categoria" class="border border-dark" bindValue="idcategoria" formControlName="categoria" [searchable]="true"> </ng-select>
                 
                  </div>
                  <small class="form-text text-muted danger" *ngIf="submitted">
                    <div *ngIf="fData.categoria.value==undefined " class="text-danger">Este campo es requerido</div>
                  </small>
                </div>

              </div>

              <div class="d-flex w-100 justify-content-between">
                                  
                <div class="form-group col-12">
                  <label for="producto">Producto</label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="producto"
                      class="form-control border border-dark"
                      formControlName="producto"
                      placeholder="Ingresa producto"
                      [ngClass]="{ 'is-invalid': submitted && fData.producto.errors }"
                    />
                    
                  </div>
                  <small class="form-text text-muted danger" *ngIf="submitted && fData.producto.errors">
                    <div *ngIf="fData.producto.errors.required" class="text-danger">Este campo es requerido</div>
                  </small>
                </div>                  
              </div>
              
              <div class="d-flex w-100 justify-content-between" style="text-align: right;">

                <i class="pe-7s-angle-left-circle cursor" (click)="mostrarNoAplica()" *ngIf="!NoAplica && fData.pieza.value"></i>
                <i class="pe-7s-angle-right-circle cursor" (click)="mostrarNoAplica()" *ngIf="NoAplica && fData.pieza.value"></i>
                  </div>
                <div class="d-flex w-100 justify-content-between">

                  <div class="form-group col-4" *ngIf="!NoAplica">
                    <label for="lote">Lote</label>
                    <div class="input-group">
                      <input
                        type="text"
                        id="lote"
                        class="form-control border border-dark"
                        formControlName="lote"
                        placeholder="Ingresa lote"
                        [ngClass]="{ 'is-invalid': submitted && fData.lote.errors }"
                      />
                     
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && fData.lote.errors">
                      <div *ngIf="fData.lote.errors.required" class="text-danger">Este campo es requerido</div>
                    </small>
                  </div>
                  <div class="form-group col-4" *ngIf="!NoAplica">
                    <label for="caducidad">Fecha de Caducidad</label>
                    <div class="input-group">
                      <input
                        type="text"
                        id="caducidad"
                        (keypress)="keyPress()"
                        maxlength="5"
                        class="form-control border border-dark"
                        formControlName="caducidad"
                        placeholder="MM/AA"
                        [ngClass]="{ 'is-invalid': submitted && fData.caducidad.errors }"
                      />
                     
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && fData.caducidad.errors">
                      <div *ngIf="fData.caducidad.errors.required" class="text-danger">Este campo es requerido</div>
                    </small>
                  </div>
                  <div class="form-group col-4" *ngIf="!NoAplica">
                    <label for="administracion">Administración</label>
                    <div [ngClass]="{ 'is-invalid': submitted && fData.administracion.errors }">
        
                     <ng-select [items]="administraciones" bindLabel="administracion" class="border border-dark" bindValue="idadministracion" formControlName="administracion" [searchable]="true"> </ng-select>
                   
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted">
                      <div *ngIf="fData.administracion.value==undefined " class="text-danger">Este campo es requerido</div>
                    </small>
                  </div>
                </div>

              <div class="d-flex w-100 justify-content-between">
                <div class="form-group col-4">
                  <label for="precioProv">Precio proveedor</label>
                  <div class="input-group">
                    <input *ngIf="!fData.pieza.value" type="number" id="precioProv" class="form-control border border-dark"
                      formControlName="precioProv" placeholder="Ingresa precio proveedor"
                      [ngClass]="{ 'is-invalid': submitted && fData.precioProv.errors }" readonly/>

                      <input *ngIf="fData.pieza.value" type="number" id="precioProv" class="form-control border border-dark"
                      formControlName="precioProv" placeholder="Ingresa precio proveedor"
                      [ngClass]="{ 'is-invalid': submitted && fData.precioProv.errors }"/>

                  </div>
                  <small class="form-text text-muted danger" *ngIf="submitted && fData.precioProv.errors">
                    <div *ngIf="fData.precioProv.errors.required" class="text-danger">Este campo es requerido</div>
                  </small>
                </div>
                <div class="form-group col-4">
                  <label for="precioCli"
                  [ngClass]=" (fData.precioCli.value<fData.precioProv.value) ? 'text-center text-danger': 'text-center'" 
                  >Precio cliente</label>
                  <div class="input-group">
                    <input *ngIf="!fData.pieza.value" type="number" id="precioCli" class="form-control border border-dark"
                      formControlName="precioCli" placeholder="Ingresa precio cliente"
                      [ngClass]="{ 'is-invalid': submitted && fData.precioCli.errors }" readonly />

                      <input *ngIf="fData.pieza.value" type="number" id="precioCli" class="form-control border border-dark"
                      formControlName="precioCli" placeholder="Ingresa precio cliente"
                      [ngClass]="{ 'is-invalid': submitted && fData.precioCli.errors }" />

                  </div>
                  <small class="form-text text-muted danger" *ngIf="submitted && fData.precioCli.errors">
                    <div *ngIf="fData.precioCli.errors.required" class="text-danger">Este campo es requerido</div>
                  </small>
                </div>
                <div class="form-group col-4">
                  <label for="precioPub"
                  [ngClass]=" (fData.precioPub.value<fData.precioProv.value) ? 'text-center text-danger': 'text-center'" 
                  >Precio publico</label>
                  <div class="input-group">
                    <input *ngIf="!fData.pieza.value" type="number" id="precioPub" class="form-control border border-dark"
                      formControlName="precioPub" placeholder="Ingresa precio publico"
                      [ngClass]="{ 'is-invalid': submitted && fData.precioPub.errors }" readonly />

                      <input *ngIf="fData.pieza.value" type="number" id="precioPub" class="form-control border border-dark"
                      formControlName="precioPub" placeholder="Ingresa precio publico"
                      [ngClass]="{ 'is-invalid': submitted && fData.precioPub.errors }" />

                  </div>
                  <small class="form-text text-muted danger" *ngIf="submitted && fData.precioPub.errors">
                    <div *ngIf="fData.precioPub.errors.required" class="text-danger">Este campo es requerido</div>
                  </small>
                </div>
              </div>
              
              <div class="d-flex w-100 justify-content-between">

                <div class="form-group col-4">
                  <label for="pza">Pza.</label>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" checked
                      formControlName="pieza" (change)="crearPaquete()">
                    <label class="custom-control-label cursor" for="customSwitch1"></label>
                  </div>

                </div>
                                

              </div>
              
           </form>
           

           <div class="d-flex w-100" *ngIf="!fData.pieza.value">
            <div class="form-group col-2">
              <input type="number" class="form-control border border-dark" placeholder="Cantidad" value="1"
                id="cantidad" min="1">
            </div>

            <div class="form-group col-7">
              <input type="text" class="form-control border border-dark" placeholder="Codigo" value="" id="codigo"
                (change)="scanearProducto()" autocomplete="off" (keyenter)="agregarProducto()" [(ngModel)]="codigo">
            </div>



          </div>

          <div class="d-flex w-100" *ngIf="!fData.pieza.value">
            <div class="table-responsive card-body" style="overflow-y: scroll; height:200px;">
              <table class="table table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th class="col-6 text-left">PRODUCTO</th>
                    <th class="col-4 text-center">CANTIDAD</th>
                    <th class="col-2 text-center"></th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of listaProductos">
                    <td class="col-6 text-left">{{row.producto}}</td>
                    <td class="col-4 text-center">{{row.cantidad}}</td>
                    <td class="text-center col-2">
                      <button class="btn btn-primary btn-sm mr-2" (click)="quitarProducto(row.idProducto)">
                        <span class="pe-7s-close-circle"></span>
                      </button>
                    </td>

                  </tr>

                </tbody>
              </table>

            </div>

          </div>
                                
           </div>
         </div>
       </div>
     </div>


     <div class="modal-footer border-0">
       <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
       <button type="button" class="btn btn-dark" (click)="editarProducto(EditarRegistro.value)">Aceptar</button>
     </div>
  </div>
</ng-template>
