<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body">
                            <form [formGroup]="NuevoAlmacen" style="text-align: center;">

                            <div class="row">

                                    <div class="col-md-3">
                                        <label for="">Almacen</label>
                                        <ng-select [items]="almacenes" class="border border-dark" bindLabel="almacen"
                                        bindValue="idalmacen" [searchable]="true" (change)="obtenerListaAlmacen()" formControlName="almacen">
                                    </ng-select>
                                    <small class="form-text text-muted danger" *ngIf="submitted">
                                        <div *ngIf="fData.almacen.value==undefined || fData.almacen.value==''" class="text-danger">Este campo es requerido</div>
                                      </small>                                    
                                    </div>

                                    <div class="col-md-3">
                                        <label for="">Paciente <i class="pe-7s-plus cursor" (click)="crearPaciente()" *ngIf="this.permisos.pacientegenerarsalida=='1'"></i></label>
                                        <ng-select [items]="pacientes" class="border border-dark" bindLabel="paciente"
                                        bindValue="idPaciente" [searchable]="true" (change)="obtenerListaAlmacen()" formControlName="paciente">
                                    </ng-select>
                                    <small class="form-text text-muted danger" *ngIf="submitted">
                                        <div *ngIf="fData.paciente.value==undefined || fData.paciente.value==''" class="text-danger">Este campo es requerido</div>
                                      </small>                                     
                                    </div>
                                                                        
                                    <div class="col-md-3">
                                        <label for="">Tipo <i class="pe-7s-plus cursor" (click)="crearTipoCirugia()" *ngIf="this.permisos.tipogenerarsalida=='1'"></i></label>
                                        <ng-select [items]="tipos" class="border border-dark" bindLabel="tipoCirugia"
                                        bindValue="idTipoCirugia" [searchable]="true" formControlName="tipo">
                                    </ng-select>
                                    <small class="form-text text-muted danger" *ngIf="submitted">
                                        <div *ngIf="fData.tipo.value==undefined || fData.tipo.value==''" class="text-danger">Este campo es requerido</div>
                                      </small>                                     
                                    </div>
                                    
                                    <div class="col-md-3">
                                        <label for="">Doctor <i class="pe-7s-plus cursor" (click)="crearDoctor()" *ngIf="this.permisos.doctorgenerarsalida=='1'"></i></label>
                                        <ng-select [items]="doctores" class="border border-dark" bindLabel="doctor"
                                        bindValue="idDoctor" [searchable]="true" formControlName="doctor">
                                    </ng-select>
                                    <small class="form-text text-muted danger" *ngIf="submitted">
                                        <div *ngIf="fData.doctor.value==undefined || fData.doctor.value==''" class="text-danger">Este campo es requerido</div>
                                      </small> 

                                    </div>

                            </div>

                            <div class="row">
                            
                                <div class="col-md-10" style="text-align: center;">
                                    <label for="">Enfermero/a</label>
                                    <input type="text" class="form-control border border-dark" placeholder=""
                                    formControlName="enfermera">
                                    <small class="form-text text-muted danger" *ngIf="submitted">
                                        <div *ngIf="fData.enfermera.value==undefined || fData.enfermera.value==''" class="text-danger">Este campo es requerido</div>
                                      </small> 

                                </div> 
                            <div class="col-md-2 mt-3" style="text-align: right;">
                                <button *ngIf="idAlmacen==0" type="button" class="btn btn-black" (click)="guardarListaAlmacenSalida()" >Finalizar</button>
                                <button *ngIf="idAlmacen!=0" type="button" class="btn btn-black" (click)="actualizarListaAlmacenSalida()" >Actualizar</button>
                              </div>  

                            </div>

                        </form>

                            <div *ngIf="idAlmacen!=0" class="row">
                                <div class="col-md-1">
                                    <input type="number" class="form-control border border-dark" placeholder="Cantidad"
                                        value="1" id="cantidad" min="1" style="width: 100px;">
                                </div>

                                <div class="col-md-7 ml-2">
                                    <input type="text" class="form-control border border-dark" placeholder="Codigo"
                                        value="" id="codigo" (change)="scanearProducto()" autocomplete="off"
                                        (keyenter)="agregarProducto()" [(ngModel)]="codigo">
                                </div>
                                <div class="col-md-3">
                                    <button (click)="modalBuscarProducto()">
                                        <img src="./assets/fonts/binoculares.svg" alt="" height="30" width="30">
                                    </button>
                                </div>
                            </div>


                            <div class="row" *ngIf="idAlmacen!=0">
                                <div class="col-12">

                                        <div class="table-responsive card-body"
                                            style="overflow-y: scroll; height:350px;">
                                            <table class="table table-striped">

                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="col-7 text-left">PRODUCTO</th>
                                                        <th class="col-1 text-center">CANTIDAD</th>
                                                        <th class="col-1"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let row of contenido">
                                                       
                                                        <td class="col-7 text-left">{{row.producto}}</td>
                                                        <td class="col-1 text-center">{{row.cantidad}}</td>
                                                        <td class="text-center col-1">
                                                            <button class="btn btn-danger btn-sm" (click)="modalQuitarProducto(row)" >
                                                                <span class="pe-7s-close-circle"></span>
                                                            </button>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                            </div>


                            <div *ngIf="idAlmacen!=0" class="col-md-12" style="text-align: right;">
                                <a class="btn btn-danger text-danger" (click)="cancelarLista()" *ngIf="this.permisos.cancelarsalida=='1'">
                                    Cancelar
                                </a>

                                <a class="btn btn-dark" (click)="finalizarLista()" *ngIf="contenido.length>0">
                                    Finalizar
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->

<app-buscar-producto (producto)="respuestaBusqueda($event)"></app-buscar-producto>
<app-quitar-producto-salida (actualizar)="obtenerUltimaListaAlmacenSalida()" [data]="envioModal"></app-quitar-producto-salida>
<app-agregar-doctor (actualizar)="actualizarListaDoctores()"></app-agregar-doctor>
<app-agregar-paciente (actualizar)="actualizarListaPacientes()"></app-agregar-paciente>
<app-agregar-tipo-cirugia (actualizar)="actualizarListaTipoCirugia()"></app-agregar-tipo-cirugia>