<ng-template #NuevoTipoCirugia let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Nuevo Tipo Cirugia/Evento</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>   
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item  flex-column align-items-center">
              <form [formGroup]="NuevoRegistro" style="text-align: center;">

                <div class="d-flex w-100 justify-content-between">
                                    
                  <div class="form-group col-12">
                    <label for="tipoCirugia">Tipo Cirugia/Evento</label>
                    <div class="input-group">
                      <input
                        type="text"
                        id="tipoCirugia"
                        class="form-control border border-dark"
                        formControlName="tipoCirugia"
                        placeholder="Ingresa tipoCirugia"
                        [ngClass]="{ 'is-invalid': submitted && fData.tipoCirugia.errors }"
                      />
                      
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && fData.tipoCirugia.errors">
                      <div *ngIf="fData.tipoCirugia.errors.required" class="text-danger">Este campo es requerido</div>
                    </small>
                  </div>                  
                
                </div>
                
             </form> 
                        
             </div>
           </div>
         </div>
       </div>


       <div class="modal-footer border-0">
         <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
         <button type="button" class="btn btn-dark" (click)="guardarTipoCirugia()">Aceptar</button>
       </div>
    </div>
  </ng-template>