<ng-template #ListaAlmacenSalida>

    <div class="modal-lg">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body" style="text-align: center;">
  
        <form [formGroup]="frmAlm" class="form">
  
          <div class="form-body">
            <div class="form-group row mx-auto">
              <label class="col-md-12 label-control">Almacen </label>
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <ng-select [items]="contenido" class="border border-dark" bindLabel="almacen"
                  bindValue="idalmacen" [searchable]="true" formControlName="almacen">
                </ng-select>
              </div>
              <div class="col-md-3"></div>
              
            </div>
  
          </div>
  
        </form>
        <div class="col-12" style="text-align: center;">
          <button type="button" class="btn btn-black">Finalizar</button>
        </div>
  
      </div>
  
      <div class="modal-footer">
  
      </div>
  
    </div>
  </ng-template>