<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"></a>
  <button class="navbar-toggle bg-dark" type="button" (click)="sidebarToggle()" data-toggle="collapse" 
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" *ngIf="!sidebarVisible"></span>
    <span class="pe-7s-close" *ngIf="sidebarVisible"></span>

  </button>
  

  <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Efrain
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Cerrar Sesion</a>
        </div>
      </li>
      </ul>
  </div>-->
</nav>