<ng-template #ModalAceptarLista>

    <div class="modal-lg">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>        
      </div>
  
      <div class="modal-body" style="text-align: center;">
            
        <button type="button" class="btn grey btn-danger mr-2" (click)="rechazar()">Rechazar</button>
        <button type="button" class="btn btn-success" (click)="aceptar()">Aceptar</button>
          
      </div>  
       
    </div>
  </ng-template>