<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Doctor</h4>
                    </div>

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-light btn-sm" (click)="crearDoctor()" *ngIf="this.permisos.agregardoctor=='1'">
                                        <img src="./assets/fonts/agregar.png" title="Nuevo Doctor" alt=""
                                            height="30" width="30">
                                    </button>
                                    
                                </div>

                                <div class="form-group col-8">
                                    <div class="input-group">
                                        <input type="text" id="busqueda" class="form-control border border-dark"
                                            [(ngModel)]="busqueda" (keyup)="doctorBusqueda()"
                                            placeholder="Ingresar doctor" />

                                    </div>

                                </div>
                                <div class="form-group col-4">
                                    <div class="input-group">
                                        <select class="form-control cursor" [(ngModel)]="opciones" (change)="doctorBusqueda()" >

                                            <option value="Todo" >Todo</option>
                                            <option value="Activos">Activos</option>
                                            <option value="Inactivos">Inactivos</option>

                                        </select>

                                    </div>
                                    
                                </div>

                                <div class="card-body table-responsive">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="DOCTOR" prop="doctor" [width]="'auto'"
                                            [flexGrow]="6">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="TELEFONO" prop="telefono" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center">{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="TIPO TRABAJADOR" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <p *ngIf="row.interno==1" class="text-center">Interno</p>
                                                <p *ngIf="row.interno==0" class="text-center">Externo</p>                                                
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

                                                <div class="text-center">
                                                    <button class="btn btn-primary btn-sm mr-2" (click)="openEditar(row)" *ngIf="this.permisos.editardoctor=='1'">
                                                        <span class="pe-7s-note"></span>
                                                    </button>  
                                                    <button class="btn btn-success btn-sm" (click)="estatusDoctor(row)" *ngIf="row.alta=='2' && this.permisos.estatusdoctor=='1'">
                                                        <span class="pe-7s-close-circle"></span>
                                                    </button>
                                                    <button class="btn btn-danger btn-sm" (click)="estatusDoctor(row)" *ngIf="row.alta=='1' && this.permisos.estatusdoctor=='1'">
                                                        <span class="pe-7s-close-circle"></span>
                                                    </button> 
                                                </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div>                                
                              
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->
<app-agregar-doctor (actualizar)="actualizarListaDoctor()"></app-agregar-doctor>
<app-editar-doctor [data]="envioModalEditar" (actualizar)="actualizarListaDoctor()"></app-editar-doctor>
<app-eliminar-doctor [data]="envioModalEstatus" (actualizar)="actualizarListaDoctor()"></app-eliminar-doctor>
