<div class="sidebar-wrapper">
    <div class="logo">
        <a class="simple-text">
          <!--  <div class="logo-img">
                <img src="./assets/img/angular2-logo-white.png" />
            </div>-->
            CLISAC
        </a>
    </div>
    <ul class="nav responsive-nav">
      
        <!--MENUUUUUUUUUUUUUUUUUUUUUUUUUUUU-->
        <div class="sidebar-wrapper ps">
            <ul class="nav">

                <li routerLinkActive="active" *ngFor="let menuItem of menuItems">
                    <div *ngIf="menuItem.submenu!=null">
                        <a data-toggle="collapse" href="#{{menuItem.menu.componenttitle}}" class="collapsed" aria-expanded="false" >
                            <i class="{{menuItem.menu.icon}}"></i>
                            <p >{{menuItem.menu.title}}<b class="caret"></b></p>
                        </a>

                        <div class="collapse" id="{{menuItem.menu.componenttitle}}" style="">
                            <ul class="nav">
                                <!---->
                                <li routerlinkactive="active" *ngFor="let submenu of menuItem.submenu">
                                    <a [routerLink]="[submenu.path]">
                                        <span class="sidebar-normal">{{submenu.title}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                    <div *ngIf="menuItem.submenu==null">

                        <a [routerLink]="[menuItem.menu.path]">
                            <i class="{{menuItem.menu.icon}}"></i>
                            <p>{{menuItem.menu.title}}</p>
                        </a>


                    </div>
                </li>

            </ul>
            
        </div>

    </ul>
</div>