<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row" *ngIf="mostrarLista">
                                <div class="col-md-6">
                                    <ng-select [items]="listaAlmacen" class="border border-dark" bindLabel="almacen"
                                      bindValue="idalmacen" [searchable]="true" (change)="crear()" [(ngModel)]="valoralmacen">
                                    </ng-select>
                                </div> 

                            </div>

                            <div class="row" *ngIf="valoralmacen!=null && valoralmacen!='' && valoralmacen!=undefined">
                                <div class="col-md-12">
                                    <!--<button class="btn btn-light btn-sm mr-2" (click)="openAgregar()" *ngIf="this.permisos.agregaralmacensecundario=='1'">
                                        <img src="./assets/fonts/agregar.png" title="Agregar Producto." alt=""
                                            height="30" width="30">
                                    </button>-->
                                    <button class="btn btn-light btn-sm mr-2" (click)="openAjustar()" *ngIf="this.permisos.ajustaralmacensecundario=='1'">
                                        <img src="./assets/fonts/ajustar.png" title="Ajustar Producto."
                                            alt="" height="30" width="30">
                                    </button>
                                    <button class="btn btn-light btn-sm mr-2" (click)="openModalReporte()" *ngIf="this.permisos.reportealmacensecundario=='1'">
                                        <img src="./assets/fonts/reporte.png" title="Reporte." alt=""
                                            height="30" width="30">
                                    </button>                                    
                                </div>
                            </div>
                            
                            <div class="row" *ngIf="valoralmacen!=null && valoralmacen!='' && valoralmacen!=undefined">
                               
                                <div class="form-group col-8">
                                    <div class="input-group">
                                        <input type="text" id="busqueda" class="form-control border border-dark"
                                            [(ngModel)]="busqueda" (keyup)="productoBusqueda()"
                                            placeholder="Ingresar producto" />

                                    </div>

                                </div>
                                <div class="form-group col-4">
                                    <div class="input-group">
                                        <select class="form-control cursor" [(ngModel)]="opciones" (change)="productoBusqueda()" >

                                            <option value="Pieza">Pieza</option>
                                            <option value="Paquete">Paquete</option>

                                        </select>

                                    </div>
                                    
                                </div>

                                <div class="card-body table-responsive">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="PRODUCTO" prop="producto" [width]="'auto'"
                                            [flexGrow]="6">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="MINIMO" prop="minimo" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center">{{value | number : '1.2-2'}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="EXISTENTE" prop="existente" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div *ngIf="row.minimo>=row.existente && row.minimo>0"
                                                    class="text-center text-warning">{{value | number : '1.2-2'}} </div>
                                                <div *ngIf="row.minimo<row.existente || row.minimo==0 "
                                                    class="text-center">{{value | number : '1.2-2'}} </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

                                                <div class="text-center">
                                                    <button class="btn btn-primary btn-sm mr-1"
                                                        (click)="openEditar(row)" *ngIf="this.permisos.editaralmacensecundario=='1' && row.pieza==1 ">
                                                        <span class="pe-7s-note"></span>
                                                    </button>
                                                </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->

<app-agregar-producto-almacen-secundario [data]="envioModalAgregar" (actualizar)="obtenerListaAlmacen()"></app-agregar-producto-almacen-secundario>
<app-ajustar-producto-almacen-secundario [data]="envioModalAjustar" (actualizar)="obtenerListaAlmacen()"></app-ajustar-producto-almacen-secundario>
<app-editar-almacen-secundario [data]="envioModal" (actualizar)="obtenerListaAlmacen()"></app-editar-almacen-secundario>

<!--MODAL DE IMPRESION-->

<ng-template #ModalReporte>

    <div class="modal-sm">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">IMPRIMIR REPORTE</h4>
      </div>

        <div class="modal-body" style="text-align: center;">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" (click)="cambiarRadio('r1')" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Productos Minimos
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" (click)="cambiarRadio('r2')">
                <label class="form-check-label" for="exampleRadios2">
                    Todos los Productos
                </label>
              </div>       
    
          </div>
      
          <div class="modal-footer">
    
            <button type="button" class="btn grey btn-danger mr-2" (click)="closeModalReporte()">Salir</button>
            <button type="button" class="btn btn-dark" (click)="imprimir()"i>Aceptar</button>
                  
          </div>
  
    </div>
  </ng-template>