<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body">
                            <div class="row content">
                                <div class="col-md-3">
                                    <label for="">Paciente</label>
                                    <ng-select [items]="pacientes" class="border border-dark" bindLabel="paciente"
                                        bindValue="idPaciente" [searchable]="true" (change)="actualizarListaSalidas()"
                                        [(ngModel)]="valorpaciente">
                                    </ng-select>
                                </div>
                            </div>

                        </div>

                        <div class="card-body table-responsive"
                            *ngIf="valorpaciente!=null && valorpaciente!='' && valorpaciente!=undefined">
                            <div class="row ml-3">

                                <div class="text-center">
                                    <input type="checkbox" class="cursor" [(ngModel)]="precioPublico" [checked]="precioPublico"> Precio Publico
                                </div>
                            </div>

                            <div class="row content">
                                <div class="col-12">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="5" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

                                                <div class="text-center" *ngIf="row.status=='Finalizado'">
                                                    <input type="checkbox" class="cursor" [checked]="row.checked"
                                                        (change)="cambiarChecked(row)">
                                                </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="FECHA" prop="fechaCreacion" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center" (click)="openDetalle(row)" >{{value | date : 'YYYY-MM-dd HH:mm' }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="ALMACEN" prop="almacen" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div (click)="openDetalle(row)">{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="TIPO EVENTO/CIRUGIA" prop="tipoCirugia" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div (click)="openDetalle(row)">{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ESTATUS" prop="status" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center" (click)="openDetalle(row)">{{value }}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="SUBTOTAL" [width]="'auto'"
                                            [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center" *ngIf="!precioPublico" (click)="openDetalle(row)">{{ row.totalCliente | number: '1.2-2' }}</div>
                                                <div class="text-center" *ngIf="precioPublico" (click)="openDetalle(row)">{{ row.totalPublico | number: '1.2-2'  }}</div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>
                                </div>
                            </div>

                            <div class="row content" *ngIf="contenido.length>0">
                                <div class="col-12" style="text-align: right;">
                                    <h4 class="modal-title" id="myModalLabel1" *ngIf="!precioPublico"><strong>Total:</strong> {{totalCliente | number: '1.2-2'}}
                                    </h4>
                                    <h4 class="modal-title" id="myModalLabel1" *ngIf="precioPublico"><strong>Total:</strong> {{totalPublico | number: '1.2-2'}}
                                    </h4>

                                </div>
                                <div class="col-12" style="text-align: right;">
                                    <button class="btn btn-dark" (click)="finalizarVenta()">
                                        Finalizar Venta
                                    </button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-detalle-venta-almacen-paciente [data]="envioModalDetalle"></app-detalle-venta-almacen-paciente>
