<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Role</h4>
                    </div>

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-light btn-sm" (click)="openCrear()" *ngIf="this.permisos.agregarrole=='1'">
                                        <img src="./assets/fonts/agregar.png" title="Nueva lista" alt=""
                                            height="30" width="30">
                                    </button>
                                    
                                </div>

                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <input type="text" id="busqueda" class="form-control border border-dark"
                                            [(ngModel)]="busqueda" (keyup)="roleBusqueda()"
                                            placeholder="Ingresar role" />

                                    </div>

                                </div>

                                <div class="card-body table-responsive">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="ROLE" prop="role" [width]="'auto'"
                                            [flexGrow]="8">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="1">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

                                                <div class="text-center">
                                                    <button class="btn btn-primary btn-sm mr-2" (click)="openEditar(row)" *ngIf="this.permisos.editarrole=='1'">
                                                        <span class="pe-7s-note"></span>
                                                    </button>                                                        
   
                                                </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div>                                
                               
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->
<app-agregar-role (actualizar)="actualizarListaRole()"></app-agregar-role>
<app-editar-role [data]="envioModalEditar" (actualizar)="actualizarListaRole()"></app-editar-role>