<ng-template #ModalQuitarProductoPrincipal>

    <div class="modal-sm">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">{{titulo}}</h4>
      </div>
  
      <div class="modal-body" style="text-align: center;">
            
        <div class="col-12" style="text-align: center;">
          <img src="./assets/fonts/eliminar.png" alt="" height="60" width="60">
        </div>

        <form [formGroup]="frmProd" class="form">

          <div class="input-group mt-2" style="text-align: center;" >

            <button class="input-group-text" (click)="restar()">-</button>
            <input type="text" class="form-control" style="text-align: center;" formControlName="cantidad" disabled>
            <button class="input-group-text" (click)="sumar()" >+</button>
            
          </div>
        </form>

      </div>
  
      <div class="modal-footer">

        <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-dark" (click)="quitarProducto()">Aceptar</button>
              
      </div>
  
    </div>
  </ng-template>