<!--<div class="main-content">-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body">

                            <div class="col-md-12">

                                <div class="row card-body">

                                    <div class="col-md-12  mr-2">
                                        <button type="button" title="Nueva venta"
                                            class="btn btn-outline-primary col-lg-1 col-sm-1 col-1 mb-1"
                                            (click)="nuevaVenta()">
                                            <i class="pe-7s-plus"></i>
                                        </button>
                                        <button type="button" title="Imprimir ultima venta"
                                            class="btn btn-outline-primary col-lg-1 col-sm-1 col-1 mb-1"
                                            (click)="reimprimirTicket()">
                                            <i class="pe-7s-print"></i>
                                        </button>
                                        <button type="button" title="Entrada"
                                            class="btn btn-outline-success col-lg-1 col-sm-1 col-1 mb-1"
                                            (click)="modalGenerarEntrada()">
                                            <i class="pe-7s-angle-up-circle"></i>
                                        </button>
                                        <button type="button" title="Salida"
                                            class="btn btn-outline-danger col-lg-1 col-sm-1 col-1 mb-1"
                                            (click)="modalGenerarSalida()">
                                            <i class="pe-7s-angle-down-circle"></i>
                                        </button>
                                        <button type="button" title="Devolucion"
                                            class="btn btn-outline-danger col-lg-1 col-sm-1 col-1 mb-1"
                                            (click)="openModalDevolucionProducto()">
                                            <i class="pe-7s-back-2"></i>
                                        </button>
                                        <button type="button" title="Consultar Producto"
                                            class="btn btn-outline-warning col-lg-1 col-sm-1 col-1 mb-1"
                                            (click)="openModalDetalleProducto()">
                                            <i class="pe-7s-search"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-12  mr-2">
                                        <button *ngFor="let venta of listaVentas;let i=index;" type="button"
                                            [ngClass]="indexActivate!=i ? 'btn btn-primary col-lg-1 col-sm-1 col-1 mb-1': 'btn btn-success col-lg-1 col-sm-1 col-1 mb-1'"
                                            (click)="ventaSeleccionada(venta,i)">{{i+1}}</button>

                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="ml-3" *ngIf="indexActivate!=null">

                            <div class="col-md-12">

                                <div class="row ml-1">

                                    <div class="col-3">
                                        <input type="checkbox" class="cursor" [(ngModel)]="precioPublico"
                                            [checked]="precioPublico"> Precio Publico
                                    </div>
                                </div>

                                <div class="row ml-1">
                                    <div class="col-md-1">
                                        <input type="number" class="form-control border border-dark"
                                            placeholder="Cantidad" value="1" id="cantidad" min="1" style="width: 100px;">
                                    </div>

                                    <div class="col-md-7 ml-2">
                                        <input type="text" class="form-control border border-dark" placeholder="Codigo"
                                            value="" id="codigo" (change)="scanearProducto()" autocomplete="off"
                                            (keyenter)="agregarProducto()" [(ngModel)]="codigo">
                                    </div>
                                    <div class="col-md-3">
                                        <button (click)="modalBuscarProducto()">
                                            <img src="./assets/fonts/binoculares.svg" alt="" height="30" width="30">
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">

                                        <div class="table-responsive card-body"
                                        style="overflow-y: auto;min-width:50px ; max-height: 350px;" >
                                            <table class="table table-striped">

                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="col-7 text-left">PRODUCTO</th>
                                                        <th class="col-1 text-center">PRECIO</th>
                                                        <th class="col-1 text-center">CANTIDAD</th>
                                                        <th class="col-2 text-center">IMPORTE</th>
                                                        <th class="col-1"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let row of contenido">
                                                        <td class="col-7 text-left">{{row.producto}}</td>
                                                        <td class="col-1 text-center" *ngIf="!precioPublico">
                                                            {{row.preciocliente | currency:'$ ':'symbol':'1.2-2'}}</td>
                                                        <td class="col-1 text-center" *ngIf="precioPublico">
                                                            {{row.preciopublico | currency:'$ ':'symbol':'1.2-2'}}</td>
                                                        <td class="col-1 text-center">{{row.cantidad | number :
                                                            '1.2-2'}}</td>
                                                        <td class="col-2 text-center" *ngIf="!precioPublico">
                                                            {{row.importecliente | currency:'$ ':'symbol':'1.2-2'}}</td>
                                                        <td class="col-2 text-center" *ngIf="precioPublico">
                                                            {{row.importepublico | currency:'$ ':'symbol':'1.2-2'}}</td>
                                                        <td class="text-center col-1">
                                                            <button class="btn btn-danger btn-sm"
                                                                (click)="modalQuitarProducto(row)">
                                                                <span class="pe-7s-close-circle"></span>
                                                            </button>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row content">
                                <div class="col-md-12 mr-1" style="text-align: right;">
                                    <a class="btn btn-danger text-danger" (click)="cancelarVenta()">
                                        Cancelar
                                    </a>

                                    <a class="btn btn-dark" (click)="modalCobro()" *ngIf="contenido.length>0">
                                        Cobrar
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--</div>-->



<!-- Modal -->
<ng-template #DevolucionProducto let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header border-0">
            <h4 class="modal-title border-0" id="myModalLabel1">Devolver productos</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item flex-column align-items-center">


                        <form [formGroup]="frmDevolucion" class="form">

                            <div class="input-group mt-2" style="text-align: center;justify-content: center;">

                                <div class="form-group col-6">
                                    <label for="folio">Folio</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control border border-dark"
                                            style="text-align: center;" formControlName="folio" />
                                    </div>
                                    <button class="btn btn-dark" (click)="consultarVentaPorFolio()" style="text-align: center;justify-content: center;"
                                    [ngClass]=" (fData.folio.value=='' || fData.folio.value==null) ? 'btn btn-dark text-dark': 'btn btn-dark'" 
                                    [disabled]="fData.folio.value=='' || fData.folio.value==null ">
                                        consultar
                                    </button>
                                </div>

                                <div class="form-group col-md-6 text-center">
                                    <h3 for="Devolucion"
                                    [ngClass]="devolver==0 ? 'text-danger': 'text-success'"
                                    >Devolver:</h3>
                                    <h2 for="totalDevolver" 
                                    [ngClass]="devolver==0 ? 'text-danger': 'text-success'"
                                    >{{devolver | currency:'$ ':'symbol':'1.2-2'}}</h2>
                                  </div> 

                            </div>

                        </form>

                        <div class="d-flex w-100 justify-content-between">

                            <div class="table-responsive" style="overflow-y: scroll; height:350px;">
                                <table class="table table-striped">

                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="col-1 text-center"></th>
                                            <th class="col-3 text-center">PRODUCTO</th>
                                            <th class="col-1 text-center">CANTIDAD</th>
                                            <th class="col-1 text-center">DEVOLUCION</th>
                                            <th class="col-1 text-center">DISPONIBLE</th>
                                            <th class="col-2 text-center"></th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of detalleVenta.productos;let i=index;">
                                            <td class="col-1 text-center">
                                                <input type="checkbox" class="cursor" (change)="cambiarChecked(i)" [checked]="row.checked" [disabled]="row.devolucionDisponible==0">
                                            </td>
                                            <td class="col-3 text-center">{{row.producto}}</td>
                                            <td class="col-1 text-center">{{row.cantidad}}</td>
                                            <td class="col-1 text-center">{{row.devolucion}}</td>
                                            <td class="col-1 text-center">{{row.devolucionDisponible}}</td>
                                            <td class="col-2 text-center">                                                
                                                <div class="input-group mb-3" *ngIf="row.checked">
                                                    <button class="input-group-text cursor" (click)="restar(i)">-</button>
                                                    <input type="text" class="form-control" style="text-align: center;" value="{{row.cantidadADevolver}}" disabled>
                                                    <button class="input-group-text cursor" (click)="sumar(i)">+</button>
                                                  </div>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class="input-group mt-2" style="text-align: center;justify-content: center;">
                            <div class="form-group col-8">
                                <label for="motivo">Motivo</label>
                                <div class="input-group">
                                  <textarea type="text" class="form-control border border-dark" style="text-align: center;" [(ngModel)]="motivo" [ngClass]="{ 'is-invalid': motivo=='' }"></textarea>
                                </div>
                              </div>

                            <div class="form-group col-8">
                                <button class="btn btn-dark" (click)="generarDevolucion()" style="text-align: center;justify-content: center;"
                                [ngClass]="finalizarDevolucion==false ? 'btn btn-dark text-dark': 'btn btn-dark'" 
                                [disabled]="finalizarDevolucion==false">
                                    Finalizar Devolucion
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #DetalleProducto let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header border-0">
            <h4 class="modal-title border-0" id="myModalLabel1">Detalle del Producto</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item flex-column align-items-center">


                        <form [formGroup]="frmProducto" class="form">

                            <div class="input-group mt-2" style="text-align: center;justify-content: center;">

                                <div class="form-group col-6">
                                    <label for="codigo" *ngIf="buscarNombre">Producto <i class="pe-7s-repeat cursor" (click)="cambiarNombre()"></i> </label>
                                    <ng-select *ngIf="buscarNombre" [items]="productos" class="border border-dark" bindLabel="producto"
                                    bindValue="codigo" [searchable]="true" id="codigo" name="codigo"  formControlName="codigo" (change)="consultarDetalleProducto()">
                                  </ng-select>

                                    <label for="codigo" *ngIf="!buscarNombre">Codigo <i class="pe-7s-repeat cursor" (click)="cambiarNombre()"></i></label>
                                    <div class="input-group" *ngIf="!buscarNombre">
                                        <input type="text" class="form-control border border-dark"
                                            style="text-align: center;" formControlName="codigo" (keyenter)="consultarDetalleProducto()"/>
                                    </div>
                                    <button *ngIf="!buscarNombre" class="btn btn-dark" (click)="consultarDetalleProducto()" style="text-align: center;justify-content: center;"
                                    [ngClass]=" (fDataProducto.codigo.value=='' || fDataProducto.codigo.value==null) ? 'btn btn-dark text-dark': 'btn btn-dark'" 
                                    [disabled]="fDataProducto.codigo.value=='' || fDataProducto.codigo.value==null ">
                                        consultar
                                    </button>
                                </div>

                                <div class="form-group col-md-6 text-left">
                                    <div class="row" *ngIf="detalleProducto!=null">
                                        <div class="col-12">
                                            <label for="codigo"><strong>Producto: </strong>{{detalleProducto.producto}}</label>
                                        </div>
                                        <div class="col-12">
                                            <label><strong>Precio Cliente:  </strong>$ {{detalleProducto.precioCliente | number : '1.2-2'}}</label>
                                        </div>
                                        <div class="col-12">
                                            <label><strong>Precio Publico:  </strong>$ {{detalleProducto.precioPublico | number : '1.2-2'}}</label>
                                        </div>
                                        <div class="col-12">
                                            <label><strong>Existencia:  </strong>{{detalleProducto.existente | number : '1.2-2'}}</label>
                                        </div>

                                    </div>

                                  </div> 

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</ng-template>

<app-modal-generar-cobro (actualizar)="ventaCobrada($event)" [data]="envioModal"></app-modal-generar-cobro>
<app-buscar-producto (producto)="respuestaBusqueda($event)"></app-buscar-producto>
<app-quitar-producto-almacen-principal (actualizar)="recargarVenta()" [data]="envioModal">
</app-quitar-producto-almacen-principal>
<app-modal-entrada></app-modal-entrada>
<app-modal-salida></app-modal-salida>