.scroll {
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-button {
    width: 13px;
    height: 13px;
  }
  ::-webkit-scrollbar-thumb {
    background: #919191;
    border: 0px none #ffffff;
    border-radius: 48px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #909091;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #909190;
  }
  ::-webkit-scrollbar-track {
    background: #d4d4d4;
    border: 0px none #ffffff;
    border-radius: 44px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #d4d5d5;
  }
  ::-webkit-scrollbar-track:active {
    background: #d5d5d4;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

  .scroll-example1 {
    padding: 0.5rem;
    position: relative;
    /* border: 2px solid #d1d5ea; */
    overflow: auto;
  }

  