<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-block">

                        <div class="card-body">
                          
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-light btn-sm mr-2" (click)="reinciar()">
                                        <img src="./assets/fonts/listas.png" title="Todas Las Listas." alt=""
                                            height="30" width="30">
                                    </button>
                                    <button class="btn btn-light btn-sm mr-2" (click)="listaAceptada()">
                                        <img src="./assets/fonts/aceptado.png" title="Listadas Aceptadas."
                                            alt="" height="30" width="30">
                                    </button>
                                    <button class="btn btn-light btn-sm" (click)="listaRechazada()">
                                        <img src="./assets/fonts/rechazado.png" title="Listas Rechazadas." alt=""
                                            height="30" width="30">
                                    </button>

                                </div>

                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaInicial" (change)="cambiarFecha()">
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaFinal"(change)="cambiarFecha()">
                                    </div>
                                </div>  

                                <div class="card-body table-responsive">
                                    <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                        [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                        [rowHeight]="'auto'" fxFlex="auto">

                                        <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                            [draggable]="false" name="ALMACEN" prop="almacen" [width]="'auto'"
                                            [flexGrow]="5">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div>{{value}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="FECHA" prop="fechaCreacion" [width]="'auto'"
                                            [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                <div class="text-center">{{value | date : 'YYYY-MM-dd HH:mm'}}</div>
                                            </ng-template>
                                        </ngx-datatable-column>                                

                                        <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                            [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="2">
                                            <ng-template ngx-datatable-cell-template let-row="row" let-value="value">

                                                <div class="text-center">
                                                    <button class="btn btn-warning btn-sm mr-1" (click)="modalDetalleLista(row)" >
                                                        <span class="pe-7s-info"></span>
                                                    </button>                                                            
                                                    <button class="btn btn-success btn-sm mr-1" (click)="modalAceptarLista(row)" *ngIf="row.estatus!='Aceptado' && this.permisos.estatuslistagenerada=='1'">
                                                        <span class="pe-7s-check"></span>
                                                    </button>
                                                    <button class="btn btn-primary btn-sm" (click)=imprimir(row)>
                                                        <span class="pe-7s-print"></span>
                                                    </button> 
                                                </div>

                                            </ng-template>
                                        </ngx-datatable-column>

                                    </ngx-datatable>

                                </div> 

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->
<app-aceptar-rechazar [data]="envioModalAceptar" (actualizar)="obtenerListasCreadas()"></app-aceptar-rechazar>
<app-detalle-lista [data]="envioModal" (actualizar)="obtenerListasCreadas()"></app-detalle-lista>