<ng-template #ModalSalida>

    <div class="modal-lg">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Salida/Retiro</h4>
      </div>
  
      <div class="modal-body" style="text-align: center;">
            
        <div class="col-12" style="text-align: center;">
          <img src="./assets/fonts/retiro.png" alt="" height="60" width="100">
        </div>

        <form [formGroup]="frmSalida" class="form">

          <div class="input-group mt-2" style="text-align: center;justify-content: center;">

            <div class="form-group col-8">
              <label for="cantidad">Cantidad</label>
              <div class="input-group">
                <input type="number" class="form-control border border-dark" style="text-align: center;" formControlName="cantidad">                
              </div>
            </div>          

          </div>

          <div class="input-group mt-2" style="text-align: center;justify-content: center;" >

            <div class="form-group col-8">
              <label for="motivo">Motivo</label>
              <div class="input-group">
                <textarea type="text" class="form-control border border-dark" style="text-align: center;" formControlName="motivo"></textarea>
              </div>
            </div>            

          </div>

        </form>

      </div>
  
      <div class="modal-footer">

        <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
        <button type="button" class="btn btn-dark" (click)="guardarSalida()">Aceptar</button>
              
      </div>
  
    </div>
  </ng-template>