@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';
@import '~@swimlane/ngx-datatable/themes/dark.css';
.cursor {
    cursor: pointer;
}

.swal2-container.swal2-container-position {
    position: absolute;
  }
  .swal2-container.swal2-container-position > .swal2-modal {
    background-color: transparent;
    border: 0px;

  }
  body.swal2-no-backdrop .swal2-container.swal2-container-position>.swal2-modal{
    box-shadow: none;
  }