<ng-template #ModalEditarAlmacen let-c="close" let-d="dismiss">
    <div>
        <div class="modal-header border-0">
            <h4 class="modal-title border-0" id="myModalLabel1">Cantidad Minima Almacen</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-content collapse show">
            <div class="card-body">
                <div class="list-group">
                    <div class="list-group-item  flex-column align-items-center">
                        <form style="text-align: center;">

                            <div class="d-flex w-100 justify-content-between">
                                <div class="col-4"></div>
                                <div class="col-4">
                                    <label for="cantidad">Cantidad</label>
                                    <div class="input-group">
                                        <input type="number" id="cantidad" name="cantidad" [(ngModel)]="cantidad" class="form-control border border-dark"
                                            placeholder="Agregar cantidad" min="0"/>

                                    </div>

                                    <button type="button" class="btn btn-dark" (click)="minimaCantidadAlmacen()">Agregar</button>


                                </div>

                                <div class="col-4"></div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
</ng-template>