<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Producto</h4>
                    </div>

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-light btn-sm" (click)="openCrear()" *ngIf="this.permisos.agregarproducto=='1'">
                                        <img src="./assets/fonts/agregar.png" title="Nueva lista" alt="" height="30"
                                            width="30">
                                    </button>

                                </div>
                                    <div class="form-group col-8">
                                        <div class="input-group">
                                            <input type="text" id="busqueda" class="form-control border border-dark"
                                                [(ngModel)]="busqueda" (keyup)="productoBusqueda()"
                                                placeholder="Ingresar producto" />

                                        </div>

                                    </div>
                                    <div class="form-group col-4">
                                        <div class="input-group">
                                            <select class="form-control cursor" [(ngModel)]="opciones" (change)="productoBusqueda()" >
    
                                                <option value="Todo" >Todo</option>
                                                <option value="Activos">Activos</option>
                                                <option value="Inactivos">Inactivos</option>
    
                                            </select>
    
                                        </div>
                                        
                                    </div>

                                    <div class="card-body table-responsive">
                                            <ngx-datatable class="bootstrap table table-striped" [limit]="30"
                                                [rows]="contenido" [columnMode]="'flex'" [headerHeight]="'auto'"
                                                [footerHeight]="40" [rowHeight]="'auto'" fxFlex="auto">

                                                <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                                    [draggable]="false" name="PRODUCTO" prop="producto"
                                                    [width]="'auto'" [flexGrow]="5">
                                                    <ng-template ngx-datatable-cell-template let-row="row"
                                                        let-value="value">
                                                        <div (click)="openDetalle(row)" 
                                                        [ngClass]=" (row.preciocliente<row.precioproveedor || row.preciopublico<row.precioproveedor) ? 'text-center text-danger': 'text-center'" 
                                                        >{{value}}</div>
                                                    </ng-template>
                                                </ngx-datatable-column>

                                                <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                    [draggable]="false" name="($) PROVEEDOR"
                                                    prop="precioproveedor" [width]="'auto'" [flexGrow]="1">
                                                    <ng-template ngx-datatable-cell-template let-row="row"
                                                        let-value="value">
                                                        <div (click)="openDetalle(row)" 
                                                        class="text-center">{{value | number : '1.2-2'}}</div>
                                                    </ng-template>
                                                </ngx-datatable-column>

                                                <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                    [draggable]="false" name="($) CLIENTE" prop="preciocliente"
                                                    [width]="'auto'" [flexGrow]="1">
                                                    <ng-template ngx-datatable-cell-template let-row="row"
                                                        let-value="value">
                                                        <div (click)="openDetalle(row)" 
                                                        [ngClass]=" (row.preciocliente<row.precioproveedor) ? 'text-center text-warning': 'text-center'" 
                                                        >{{value | number : '1.2-2'}}</div>
                                                    </ng-template>
                                                </ngx-datatable-column>

                                                <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                    [draggable]="false" name="($) PUBLICO" prop="preciopublico"
                                                    [width]="'auto'" [flexGrow]="1">
                                                    <ng-template ngx-datatable-cell-template let-row="row"
                                                        let-value="value">
                                                        <div (click)="openDetalle(row)" 
                                                        [ngClass]=" (row.preciopublico<row.precioproveedor) ? 'text-center text-warning': 'text-center'" 
                                                        >{{value | number : '1.2-2'}}</div>
                                                    </ng-template>

                                                </ngx-datatable-column>

                                                <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                    [draggable]="false" name="ACCIÓN" [width]="'auto'"
                                                    [flexGrow]="1">
                                                    <ng-template ngx-datatable-cell-template let-row="row"
                                                        let-value="value">

                                                        <div class="text-center">
                                                            <button class="btn btn-primary btn-sm mr-2"
                                                            (click)="openEditar(row)" *ngIf="this.permisos.editarproducto=='1'">
                                                            <span class="pe-7s-note"></span>
                                                        </button>
                                                        <button class="btn btn-success btn-sm"
                                                            (click)="estatusProducto(row)" *ngIf="row.alta=='2' && this.permisos.estatusproducto=='1'">
                                                            <span class="pe-7s-close-circle"></span>
                                                        </button>
                                                        <button class="btn btn-danger btn-sm"
                                                            (click)="estatusProducto(row)" *ngIf="row.alta=='1' && this.permisos.estatusproducto=='1'">
                                                            <span class="pe-7s-close-circle"></span>
                                                        </button>                                                            
                                                        </div>

                                                    </ng-template>
                                                </ngx-datatable-column>

                                            </ngx-datatable>

                                    </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->

<app-agregar-producto (actualizar)="actualizarListaProducto()"></app-agregar-producto>
<app-editar-producto [data]="envioModalEditar" (actualizar)="actualizarListaProducto()"></app-editar-producto>
<app-detalle-producto [data]="envioModalDetalle"></app-detalle-producto>
<app-eliminar-producto [data]="envioModalEstatus" (actualizar)="actualizarListaProducto()"></app-eliminar-producto>