<ng-template #NuevaCategoria let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Nueva Categoria</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>   
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item  flex-column align-items-center">
              <form [formGroup]="NuevoRegistro" style="text-align: center;">
                
                <div class="d-flex w-100 justify-content-between">
                                    
                  <div class="form-group col-12">
                    <label for="categoria">Categoria</label>
                    <div class="input-group">
                      <input
                        type="text"
                        id="categoria"
                        class="form-control border border-dark"
                        formControlName="categoria"
                        placeholder="Ingresa categoria"
                        [ngClass]="{ 'is-invalid': submitted && fData.categoria.errors }"
                      />
                      
                    </div>
                    <small class="form-text text-muted danger" *ngIf="submitted && fData.categoria.errors">
                      <div *ngIf="fData.categoria.errors.required" class="text-danger">Este campo es requerido</div>
                    </small>
                  </div>                  
                </div>
            
             </form> 
                        
             </div>
           </div>
         </div>
       </div>


       <div class="modal-footer border-0">
         <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
         <button type="button" class="btn btn-dark" 
         [ngClass]="fData.categoria.value=='' ? 'btn btn-dark text-dark': 'btn btn-dark'" 
         [disabled]="fData.categoria.value==''"
         (click)="guardarCategoria(NuevoRegistro.value)">Aceptar</button>
       </div>
    </div>
  </ng-template>
 