<ng-template #NuevaRole let-c="close" let-d="dismiss">
    <div>
       <div class="modal-header border-0">
         <h4 class="modal-title border-0" id="myModalLabel1">Nuevo Role</h4>
         <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>   
       </div>
       <div class="card-content collapse show">
        <div class="card-body">
          <div class="list-group">
            <div class="list-group-item  flex-column align-items-center">
              <form [formGroup]="NuevoRegistro" style="text-align: center;">
                
                <div class="d-flex w-100 justify-content-between">
        
                    <div class="form-group col-6">
                      <label for="role">Role</label>
                      <div class="input-group">
                        <input
                          type="text"
                          id="role"
                          class="form-control border border-dark"
                          formControlName="role"
                          placeholder="Ingresa role"
                          [ngClass]="{ 'is-invalid': submitted && fData.role.errors }"
                        />
                        
                      </div>
                      <small class="form-text text-muted danger" *ngIf="submitted && fData.role.errors">
                        <div *ngIf="fData.role.errors.required" class="text-danger">Este campo es requerido</div>
                      </small>
                    </div>

                    <div class="form-group col-6">
                      <label class="col-md-12 label-control">Almacen </label>
                      <div class="col-md-12">
                       
                        <ng-select [items]="almacenes" class="border border-dark" bindLabel="almacen"
                          bindValue="idalmacen" [searchable]="true" (change)="cambiarAlmacen()" formControlName="almacen" >
                        </ng-select>
                      </div>
                      
                    </div>

                </div>
            
             </form> 

             <div class="list-group-item  flex-column align-items-center"> 
             
              <!--paquete div-->
              <div *ngIf="almacenElegido">
              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Venta: </label>
               
              </div>
              
              <div class="d-flex w-100 justify-content-between">
                
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch41" (change)="cambiarStatusSwitch('generarVenta')" [(ngModel)]="ventagenerarventas">
                    <label class="custom-control-label cursor" for="customSwitch41">Generar Ventas</label>
                  </div>                   
                </div>  
                
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch42" [(ngModel)]="ventaventasgeneradas" checked>
                    <label class="custom-control-label cursor" for="customSwitch42">Ventas Generadas</label>
                  </div>                   
                </div>  

                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch43" (change)="cambiarStatusSwitch('corteCaja')" [(ngModel)]="ventacortecaja">
                    <label class="custom-control-label cursor" for="customSwitch43">Corte de Caja</label>
                  </div>                   
                </div>  
  
              </div>

              <div class="d-flex w-100 justify-content-between">
                
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch44" [(ngModel)]="ventacortecajagenerados">
                    <label class="custom-control-label cursor" for="customSwitch44">Cortes de Caja Generados</label>
                  </div>                   
                </div> 

                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch33" [(ngModel)]="ventapacienteventa" checked>
                    <label class="custom-control-label cursor" for="customSwitch33">Paciente Venta</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch34" [(ngModel)]="ventapacienteventarealizada" checked>
                    <label class="custom-control-label cursor" for="customSwitch34">Paciente Venta Realizadas</label>
                  </div> 
                  
                </div>

              </div>

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Producto: </label>
               
              </div>
              
              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="agregarproducto" checked>
                    <label class="custom-control-label cursor" for="customSwitch1">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch2" [(ngModel)]="editarproducto" checked>
                    <label class="custom-control-label cursor" for="customSwitch2">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch3" [(ngModel)]="estatusproducto" checked>
                    <label class="custom-control-label cursor" for="customSwitch3">Eliminar</label>
                  </div> 
                  
                </div>              
  
              </div> 

              <div class="d-flex w-100 justify-content-between">
                <label for="pza"  class="font-weight-bold">Categoria: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregarcategoria" class="custom-control-input" id="customSwitch4">                    
                    <label class="custom-control-label cursor" for="customSwitch4">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editarcategoria" class="custom-control-input" id="customSwitch5">  
                    <label class="custom-control-label cursor" for="customSwitch5">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="estatuscategoria" class="custom-control-input" id="customSwitch6">  
                    <label class="custom-control-label cursor" for="customSwitch6">Eliminar</label>
                  </div> 
                  
                </div>              
  
              </div>  

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Empleado: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregarempleado" class="custom-control-input" id="customSwitch7" checked>                    
                    <label class="custom-control-label cursor" for="customSwitch7">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editarempleado" class="custom-control-input" id="customSwitch8" checked>  
                    <label class="custom-control-label cursor" for="customSwitch8">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="estatusempleado" class="custom-control-input" id="customSwitch9" checked>  
                    <label class="custom-control-label cursor" for="customSwitch9">Eliminar</label>
                  </div> 
                  
                </div>              
  
              </div>

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Paciente: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregarpaciente" class="custom-control-input" id="customSwitch10" checked>                    
                    <label class="custom-control-label cursor" for="customSwitch10">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editarpaciente" class="custom-control-input" id="customSwitch11" checked>  
                    <label class="custom-control-label cursor" for="customSwitch11">Editar</label>
                  </div> 
                  
                </div>  
                
                <div class="form-group col-4">

                </div>
  
              </div>

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Doctor: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregardoctor" class="custom-control-input" id="customSwitch12" checked>                    
                    <label class="custom-control-label cursor" for="customSwitch12">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editardoctor" class="custom-control-input" id="customSwitch13" checked>  
                    <label class="custom-control-label cursor" for="customSwitch13">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="estatusdoctor" class="custom-control-input" id="customSwitch14" checked>  
                    <label class="custom-control-label cursor" for="customSwitch14">Eliminar</label>
                  </div> 
                  
                </div>              
  
              </div>

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Productos De Almacen Principal: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregaralmacenprincipal" class="custom-control-input" id="customSwitch15" checked>  
                    <label class="custom-control-label cursor" for="customSwitch15">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="ajustaralmacenprincipal" class="custom-control-input" id="customSwitch16" checked>  
                    <label class="custom-control-label cursor" for="customSwitch16">Ajustar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editaralmacenprincipal" class="custom-control-input" id="customSwitch17" checked>  
                    <label class="custom-control-label cursor" for="customSwitch17">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="reportealmacenprincipal" class="custom-control-input" id="customSwitch35" checked>  
                    <label class="custom-control-label cursor" for="customSwitch35">Reporte</label>
                  </div> 
                  
                </div>                
  
              </div>  
   
              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Generar Lista: </label>
               
              </div>              

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-6">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="crearalmacengenerarlista" class="custom-control-input" id="customSwitch18" checked>  
                    <label class="custom-control-label cursor" for="customSwitch18">Crear Almacen</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-6">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="generargenerarlista" class="custom-control-input" id="customSwitch19" checked>  
                    <label class="custom-control-label cursor" for="customSwitch19">Generar Lista</label>
                  </div> 
                  
                </div>
  
              </div>

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Listas Generadas: </label>
               
              </div>   

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-12">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="estatuslistagenerada" class="custom-control-input" id="customSwitch20" checked>  
                    <label class="custom-control-label cursor" for="customSwitch20">Aceptar/Rechazar</label>
                  </div> 
                  
                </div>
  
              </div> 
            </div>
              <!--paquete div-->
              <div class="d-flex w-100 justify-content-between">
                <label for="pza"  class="font-weight-bold">Almacen Secundario: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregaralmacen" class="custom-control-input" id="customSwitch37">                    
                    <label class="custom-control-label cursor" for="customSwitch37">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editaralmacen" class="custom-control-input" id="customSwitch38">  
                    <label class="custom-control-label cursor" for="customSwitch38">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="estatusalmacen" class="custom-control-input" id="customSwitch39">  
                    <label class="custom-control-label cursor" for="customSwitch39">Eliminar</label>
                  </div> 
                  
                </div>              
  
              </div> 

              <div>
                <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Productos De Almacen Secundario: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregaralmacensecundario" class="custom-control-input" id="customSwitch21" checked>  
                    <label class="custom-control-label cursor" for="customSwitch21">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="ajustaralmacensecundario" class="custom-control-input" id="customSwitch22" checked>  
                    <label class="custom-control-label cursor" for="customSwitch22">Ajustar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editaralmacensecundario" class="custom-control-input" id="customSwitch23" checked>  
                    <label class="custom-control-label cursor" for="customSwitch23">Editar</label>
                  </div> 
                  
                </div>              
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="reportealmacensecundario" class="custom-control-input" id="customSwitch36" checked>  
                    <label class="custom-control-label cursor" for="customSwitch36">Reporte</label>
                  </div> 
                  
                </div> 

              </div> 

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Generar Salida: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="tipogenerarsalida" class="custom-control-input" id="customSwitch24" checked>  
                    <label class="custom-control-label cursor" for="customSwitch24">Tipo Cirugia</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-2">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="pacientegenerarsalida" class="custom-control-input" id="customSwitch25" checked>  
                    <label class="custom-control-label cursor" for="customSwitch25">Paciente</label>
                  </div> 
                  
                </div>
                <div class="form-group col-2">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="doctorgenerarsalida" class="custom-control-input" id="customSwitch26" checked>  
                    <label class="custom-control-label cursor" for="customSwitch26">Doctor</label>
                  </div> 
                  
                </div>   
                <div class="form-group col-3">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="listageneradasalida" class="custom-control-input" id="customSwitch32" checked>  
                    <label class="custom-control-label cursor" for="customSwitch32">Lista Salida</label>
                  </div> 
                  
                </div>            
                <div class="form-group col-2">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="cancelarsalida" class="custom-control-input" id="customSwitch40" checked>  
                    <label class="custom-control-label cursor" for="customSwitch40">Cancelar Salida</label>
                  </div> 
                  
                </div>  
              </div> 
            </div>
              <!--paquete div-->
              <div *ngIf="almacenElegido">
                <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Tipo Cirugia: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregartipocirugia" class="custom-control-input" id="customSwitch27" checked>                    
                    <label class="custom-control-label cursor" for="customSwitch27">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editartipocirugia" class="custom-control-input" id="customSwitch28" checked>  
                    <label class="custom-control-label cursor" for="customSwitch28">Editar</label>
                  </div> 
                  
                </div>
                <div class="form-group col-4">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="estatustipocirugia" class="custom-control-input" id="customSwitch29" checked>  
                    <label class="custom-control-label cursor" for="customSwitch29">Eliminar</label>
                  </div> 
                  
                </div>              
  
              </div>

              <div class="d-flex w-100 justify-content-between">
                <label for="pza" class="font-weight-bold">Role: </label>
               
              </div>

              <div class="d-flex w-100 justify-content-between">
  
                <div class="form-group col-6">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="agregarrole" class="custom-control-input" id="customSwitch30" checked>                    
                    <label class="custom-control-label cursor" for="customSwitch30">Agregar</label>
                  </div> 
                  
                </div>
  
                <div class="form-group col-6">
                  <div class="custom-control custom-switch">
                    <input type="checkbox" [(ngModel)]="editarrole" class="custom-control-input" id="customSwitch31" checked>  
                    <label class="custom-control-label cursor" for="customSwitch31">Editar</label>
                  </div> 
                  
                </div>
  
              </div>
            </div>
            </div> 


             </div>
           </div>
         </div>
       </div>


       <div class="modal-footer border-0">
         <button type="button" class="btn grey btn-danger mr-2" (click)="close()">Cancelar</button>
         <button type="button" class="btn btn-dark" (click)="guardarRole(NuevoRegistro.value)">Aceptar</button>
       </div>
    </div>
  </ng-template>
 