<!--inicio-->
<div class="app-content content mt-3">

    <div class="content-wrapper">
        <div class="content-body">


            <div class="col-11 ml-5">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Listas Generadas</h4>
                    </div>

                    <div class="card-block">

                        <div class="card-body">

                            <div class="row">
                                <div class="col-4" *ngIf="mostrarLista">
                                    <ng-select [items]="almacenes" class="border border-dark" bindLabel="almacen"
                                        bindValue="idalmacen" [searchable]="true" placeholder="Seleccionar almacen..."
                                        (change)="actualizarListaSalidas()" [(ngModel)]="almacen">
                                    </ng-select>

                                </div>

                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaInicial" (change)="cambiarFecha()">
                                    </div>
                                </div>
                                
                                <div class="col-4">
                                    <div class="input-group">
                                        <input type="date" class="form-control border border-dark" [(ngModel)]="fechaFinal"(change)="cambiarFecha()">
                                    </div>
                                </div>  


                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" id="busqueda" class="form-control border border-dark"
                                            [(ngModel)]="busqueda" (keyup)="pacienteBusqueda()"
                                            placeholder="Ingresar paciente" />

                                    </div>

                                </div>

                                    <div class="card-body table-responsive">
                                        <ngx-datatable class="bootstrap table table-striped" [limit]="10" [rows]="contenido"
                                            [columnMode]="'flex'" [headerHeight]="'auto'" [footerHeight]="40"
                                            [rowHeight]="'auto'" fxFlex="auto">
    
                                            <ngx-datatable-column headerClass="table-dark" [resizeable]="false"
                                                [draggable]="false" name="PACIENTE" prop="paciente" [width]="'auto'"
                                                [flexGrow]="2">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div>{{value}}</div>
                                                </ng-template>
                                            </ngx-datatable-column>
    
                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="DOCTOR" prop="doctor" [width]="'auto'"
                                                [flexGrow]="2">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div class="text-center">{{value }}</div>
                                                </ng-template>
                                            </ngx-datatable-column>
    
                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="ENFERMERO/A" prop="enfermera" [width]="'auto'"
                                                [flexGrow]="2">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div class="text-center">{{value }}</div>
                                                </ng-template>
                                            </ngx-datatable-column> 

                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="FECHA" prop="fechaCreacion" [width]="'auto'"
                                                [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                                                    <div class="text-center">{{value | date : 'YYYY-MM-dd HH:mm' }}</div>
                                                </ng-template>
                                            </ngx-datatable-column>

                                            <ngx-datatable-column headerClass="table-dark text-center" [resizeable]="false"
                                                [draggable]="false" name="ACCIÓN" [width]="'auto'" [flexGrow]="1">
                                                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
    
                                                    <div class="text-center">
                                                        <button class="btn btn-primary btn-sm mr-2"
                                                            (click)="crearPdfLista(row)" *ngIf="row.status!='Cancelado'">
                                                            <span class="pe-7s-print"></span>
                                                        </button>
                                                        <button class="btn btn-danger btn-sm mr-2"
                                                            (click)="cancelarLista(row)" *ngIf="row.status=='Proceso' && this.permisos.cancelarsalida=='1' ">
                                                            <span class="pe-7s-close-circle"></span>
                                                        </button>

                                                    </div>
    
                                                </ng-template>
                                            </ngx-datatable-column>
    
                                        </ngx-datatable>
    
                                    </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--fin-->